html { color: #000; background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse;  border-spacing: 0; }

fieldset, img {border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {font-style: normal; font-weight: normal; }

ol, ul { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

q:before, q:after {content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: text-top; }

sub {vertical-align: text-bottom; }

input, textarea, select {font-family: inherit;font-size: inherit;font-weight: inherit; }

input, textarea, select { *font-size: 100%; }

legend {color: #000; }

@font-face {font-family: 'GothamHTF-Book';
src: url("../fonts/GothamHTF-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamHTF-Book.ttf") format("truetype"), url("../fonts/GothamHTF-Book.svg#GothamHTF-Book") format("svg"); }

@font-face {
  font-family: 'GothamHTF-Medium';
  src: url("../fonts/GothamHTF-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamHTF-Medium.ttf") format("truetype"), url("../fonts/GothamHTF-Medium.svg#GothamHTF-Medium") format("svg"); }

/* Base */
body {
  font-family: 'GothamHTF-Medium', 'Helvetica', 'Arial', sans;
  color: #fff;
  height: 100%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clear {
  clear: both; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.container {
  margin: 0 auto;
  max-width: 960px; }
  
tr.odd{background-color:#ccc}

h2 {
  font-family: 'GothamHTF-Book', 'Helvetica', 'Arial', sans;
  font-size: 48px;
  margin-bottom: 24px;
  text-transform: uppercase;
  transition: font-size 0.3s ease; }
  @media only screen and (max-width: 719px) {
    h2 {
      font-size: 32px; } }

h3 {
  font-family: "Georgia", "Times", serif;
  font-size: 22px;
  font-style: italic;
  margin-bottom: 24px;
  text-transform: lowercase; }
  
  h4{ font-family: 'GothamHTF-Book', 'Helvetica', 'Arial', sans;
  font-size: 14px;
  margin-bottom: 24px;
  text-transform: uppercase;
  transition: font-size 0.3s ease;
   line-height: 24px;
  margin-bottom: 24px;
  width: 95%;
  margin: 0 auto;
  }
  h5{
  font-size: 22px;
  margin-bottom: 24px;
  width: 95%;
  margin: 0 auto;
  transition: font-size 0.3s ease; }
  @media only screen and (max-width: 719px) {
    h5{
      font-size: 1.2em;
      line-height: 20px; } }

p {
  line-height: 24px;
  margin-bottom: 24px;
  width: 95%;
  margin: 0 auto;
  transition: font-size 0.3s ease; }
  @media only screen and (max-width: 719px) {
    p {
      font-size: 0.8em;
      line-height: 20px; } }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.align-center {
  text-align: center; }

form label {
  font-size: 12px;
  font-weight: bold; }
form input[type=text],
form textarea {
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #aaa;
  font-size: 12px;
  padding: 5px 4px;
  width: 360px; }
form input[type=submit] {
  cursor: pointer; }

/* Header */
div#bowtruss-header {
  background-color: white;
  color: black;
  position: fixed;
  width: 100%;
  max-width: none;
  top: 0;
  z-index: 100; }
  div#bowtruss-header a {
    color: #3577A8;
    text-decoration: none; }
    div#bowtruss-header a:hover {
      color: #F0B922; }
    div#bowtruss-header a.logo {
      background: url("../images/trac_small.gif") no-repeat;
      display: inline-block;
      width: 200px;
      height: 60px;
      text-indent: -999999px; }
      @media all and (-webkit-min-device-pixel-ratio: 1.5) {
        div#bowtruss-header a.logo {
          background-image: url("../images/trac_small.gif");
          background-size: 200px 60px; } }
      @media only screen and (max-width: 719px) {
        div#bowtruss-header a.logo {
          text-indent: 0;
          background: none;
          width: auto; } }
  div#bowtruss-header ul {
    margin: 0 auto;
    width: 1000px;
    transition: width 0.3s ease;
    overflow: hidden; }
    div#bowtruss-header ul:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
    @media only screen and (min-width: 720px) and (max-width: 959px) {
      div#bowtruss-header ul {
        width: 720px; } }
    div#bowtruss-header ul li {
      float: left;
      height: 60px;
      line-height: 60px;
      padding: 0 20px;
      text-transform: uppercase;
      transition: padding 0.3s ease; }
      @media only screen and (min-width: 720px) and (max-width: 959px) {
        div#bowtruss-header ul li {
          padding: 0 21px; } }
      @media only screen and (max-width: 719px) {
        div#bowtruss-header ul li {
          height: 45px;
          padding: 0; } }
        div#bowtruss-header ul li button {
          height: 30px;
          width: 80px;
          border-radius:6px;
          background-color: #ffffff;
          
          border: 1px solid rgba(0, 0, 0, 0.3);
          
        }
  div#bowtruss-header a#pull {
    overflow: hidden;
    display: none;
    background: url("../images/trac_small.gif") no-repeat center;
    background-size: 200px 60px; }

@media only screen and (max-width: 719px) {
  div#bowtruss-header {
    text-align: center; }
    div#bowtruss-header ul {
      display: none;
      height: auto;
      position: relative;
      width: 100%; }
      div#bowtruss-header ul li {
        display: block;
        float: none;
        width: 100%;
        line-height: 45px; }
        div#bowtruss-header ul li:after {
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0; }
    div#bowtruss-header a#pull {
      display: block;
      height: 45px;
      width: 75px;
      background-color: #fff;
      width: 100%; }
      div#bowtruss-header a#pull:after {
        content: "";
        background: url("../images/trac_small.gif") no-repeat;
        background-size: 200px 60px;
        width: 31px;
        height: 19px;
        display: inline-block;
        position: absolute;
        right: 18px;
        top: 12px; } }
        
        
        
        
        
        
        
        
/* Backgrounds */
div.parallax {
  position: absolute;
  width: 100%; }
  div.parallax > div {
    background-size: cover;
    margin: 0 auto;
    width: 100%; }
    @media only screen and (device-width: 768px) {
      div.parallax > div {
        background-attachment: scroll !important; } }
    @media only screen and (device-width: 320px) {
      div.parallax > div {
        background-attachment: scroll !important; } }
    div.parallax > div div.content {
      margin: 0 auto;
      max-width: 960px; }
  
          
          /* Home Page */
          div.parallax div#home {
            padding-top:200px;
    background: #3577A8;
    text-align: center; }
    @media only screen and (min-width: 960px) {
      div.parallax div#home {
        min-height: 500px; } }
    div.parallax div#bg2 div.content {
      padding-top: 135px;
      padding-bottom: 135px; }
      @media only screen and (min-width: 720px) and (max-width: 959px) {
        div.parallax div#home div.content {
          padding-top: 100px;
          padding-bottom: 100px; } }
      @media only screen and (max-width: 719px) {
        div.parallax div#home div.content {
          padding-top: 80px;
          padding-bottom: 80px; } }
          div.parallax div#home div.content .pictures{
            width: inherit;
          }
          div.parallax div#home div.content .pictures .left{
            float:left;
            width: 150px;
            height:150px;
          }

          div.parallax div#home div.content .pictures .mid{
            width: 269px;
            padding-top:25px;
            display: inline;
            height: 100px;
          }

          div.parallax div#home div.content .pictures .right{
            float:right;
            width: 89px;
            height: 100px;
          }
          div.parallax div#home div.content .text{padding-top: 100px;}
          
          div.parallax div#home div.content .text .left{
            float:left;
            width: 150px;
            height:150px;
          }
        
          div.parallax div#home div.content .text .mid{
            width: 269px;
            display: inline-table;
           
            height: 100px;
          }
         
          div.parallax div#home div.content .text .right{
            float:right;
            width: 150px;
            height: 150px;
          }
          
          
          
          
          
          
          
          /* Live Split */
  div.parallax div#bg2 {
    background: #3577A8;
    text-align: center; }
    @media only screen and (min-width: 960px) {
      div.parallax div#bg2 {
        min-height: 800px; } }
    div.parallax div#bg2 div.content {
      padding-top: 135px;
      padding-bottom: 135px; }
      @media only screen and (min-width: 720px) and (max-width: 959px) {
        div.parallax div#bg2 div.content {
          padding-top: 100px;
          padding-bottom: 100px; } }
      @media only screen and (max-width: 719px) {
        div.parallax div#bg2 div.content {
          padding-top: 80px;
          padding-bottom: 80px; } }
          div.parallax div#bg2 div.content#results{}
          
          
            div.parallax div#calendar {
    background: #3577A8;
    text-align: center; }
    @media only screen and (min-width: 960px) {
      div.parallax div#calendar {
        min-height: 800px; } }
    div.parallax div#calendar #content {
      width:800px;
      height:600px;
      padding-top: 135px;
      padding-bottom: 135px;
      padding-left:100px;}
      @media only screen and (min-width: 720px) and (max-width: 959px) {
        div.parallax div#calendar #content {
          padding-top: 100px;
          padding-bottom: 100px; } }
      @media only screen and (max-width: 719px) {
        div.parallax div#calendar #content {
          padding-top: 80px;
          padding-bottom: 80px; } }
         
          
          
          
          

        
        
        
  div.parallax div#footer {
    background: #3577A8;
    text-align: center; }
    @media only screen and (min-width: 960px) {
      div.parallax div#footer {
        min-height: 400px; } }
    div.parallax div#footer div.content {
      padding-top: 100px;
      padding-bottom: 100px;
      font-size: 11px;}
      @media only screen and (min-width: 720px) and (max-width: 959px) {
        div.parallax div#footer div.content {
          padding-top: 100px;
          padding-bottom: 100px;
          font-size: 11px;} }
      @media only screen and (max-width: 719px) {
        div.parallax div#footer div.content {  
          padding-top: 80px;
          padding-bottom: 80px;
          font-size: 11px;} }
      div.parallax div#footer div.content .contactModule .bottom {clear:both; margin-top:27px; text-align:right;}
 div.parallax div#footer div.content .bottom a {border-left:1px solid #FFF; border-right:medium none; margin-left:6px; padding:0 0 0 10px;}
 div.parallax div#footer div.content .bottom span a:first-child {border-left:medium none;}
  div.parallax div#footer div.content .contactModule .copyright {float:left;}
 
 


 
 


 