{% extends "djstripe/base.html" %}

{% block title %}Payment History{% endblock title %}

{% block content %}
<div id="content" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="breadcrumb">
            <li><a href="{% url 'djstripe:account' %}">Home</a></li>
            <li class="active">Payment History</li>
          </ul>
          {% include "djstripe/includes/_history_table.html" %}
        </div>
      </div>
      </div>
</div>
{% endblock content %}

{% block js_scripts %}
{{ block.super }}
<script>
    $(function() {
        $.post("{% url 'djstripe:sync_history' %}", function(data) {
            $('#history-table').html(data);
            $('.in-progress-gif').hide();
        });
    });
</script>
{% endblock js_scripts %}
