li#dropdown-button{
    padding-top:12px;
}

div#create div#notifications .notification.notification-critical {
	background-color: #fff7f7;
	background-position: 12px -387px;
	border-color: #c72e2e;
}

div#create div#notifications .notification.notification-success {
  background-color: #f7fff7;
  background-position: 12px 12px;
  border-color: #1b9e1b;
  color: green;
}

div#create div#notifications .notification.update-success {
  background-color: #f7fff7;
  background-position: 12px 12px;
  border-color: #1b9e1b;
  color: green;
}

div#create div#notifications .notification.delete-success {
  background-color: #f7fff7;
  background-position: 12px 12px;
  border-color: #1b9e1b;
  color: green;
}

div#create div#notifications .notification.notification-warning{background-color:#fffcf7;background-position:12px -188px;border-color:#f8981f}
div#create div#notifications .notification.notification-warning .container {padding-left:10px; padding-top:10px; width:175px;}
div#create div#notifications .notification.notification-warning .container button{width:60px; background:#f8981f; font-size:15px; font-weight:bold; color:#FFF; padding:7px; border-radius:3px; border:none; }

div#create div#notifications .notification {
  display: none;
  margin-top: 0;
  padding: 15px 15px 15px 44px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  font-size: 1em;
  background: url("../img/icon_alert_sprite-2x.png") no-repeat;
  background-size: 20px;
  /* Default is the informational message */
}
div#create div#notifications .notification.notification-default {
  margin-top:30px;
  background-color: #f7f9fa;
  background-position: 12px -788px;
  border-color: #afabae;
}