h1 {
  font-family: 'GothamHTF-Book', 'Helvetica', 'Arial', sans;
  text-transform: uppercase;
  margin-bottom: 20px;
}

ul.menulist {
	padding: 0;
	list-style: none;
	font-size: 1.2em; }
	ul.menulist>li>a {
		text-decoration: none; }
		ul.menulist>li>a:hover {
			text-decoration: none; }
		ul.menulist>li>a:visited {
			text-decoration: none;
			color: #b3b3b1;
}

#calendar-overlay {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,0.5);
	-webkit-animation: fade 500ms;
	-moz-animation: fade 500ms;
	-o-animation: fade 500ms;
	animation: fade 500ms;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d; }
	#calendar-overlay .calendar-container {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%); }
		#calendar-overlay .calendar-container .calendar-dialog {
			padding: 20px 15px;
			background-color: white;
			text-align: center;
			border: 2px solid #e7e7e7; }
			.fc-today {
			background-color: #D6D6EB !important;	}
			.fc-event {
				border: 1px solid #3577A8;
				background-color: #3577A8;
}

tr.splits { 
	color: #666;
	font-weight: lighter; }
	tr.splits:hover {
		background-color: inherit !important; }
	tr.splits>td {
		padding: 0 !important; 
		border-style: none !important;
	}