@font-face {font-family: 'GothamHTF-Book';
src: url("../fonts/GothamHTF-Book.eot?#iefix") format("embedded-opentype"), url("../../fonts/GothamHTF-Book.ttf") format("truetype"), url("../fonts/GothamHTF-Book.svg#GothamHTF-Book") format("svg"); }

@font-face {
  font-family: 'GothamHTF-Medium';
  src: url("../fonts/GothamHTF-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/GothamHTF-Medium.ttf") format("truetype"), url("../fonts/GothamHTF-Medium.svg#GothamHTF-Medium") format("svg"); }

/* Universal */
html { overflow-y: scroll; }

body { 
	padding-top: 60px; 
	padding-bottom: 10px;
	font-family: 'GothamHTF-Medium', 'Helvetica', 'Arial', sans;
  height: 100%;
  color: #555;
}

a {
  text-decoration: none; }
  a:hover { text-decoration: none; 
}



/* Header */

.navbar {
	background-color: white; 
}

.navbar-nav>li>a {
	padding-top: 20px;
	text-transform: uppercase;
	color: #3577A8 !important; }
	.navbar-nav>li>a:hover {
		color: #F0B922 !important;
}

#logo {
	padding-top: 0;
	display: inline-block;
	width: 200px;
	height: 60px; }
	#logo:hover {
  	color: white;
  	text-decoration: none;
}

/* General */
.content {
	background-color: white;
	padding-top: 20px;
}

/* Typography */
h1, h2, h3 {
	text-align: center;
}

ul {
	list-style: none;
}


/* Footer */
footer {
	border-top: 3px solid #e7e7e7;
	padding-top: 20px; }
	footer ul {
		padding: 0; }
	footer .footer-item {
		padding-top: 20px;
		margin: 0 auto; }
	footer .internal>li>a {
		color: #3577A8 !important; }
		footer .internal>li>a:hover {
			color: #F0B922 !important;
}
