/* All CSS rules pertaining to score view */

h1 {
	font-family: 'GothamHTF-Book', 'Helvetica', 'Arial', sans;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#notifications {
	text-align: center;
}

ul.menulist {
	padding: 0;
	list-style: none;
	font-size: 1.2em;
}