{% extends "base_new.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "css/new/main.css" %}" />
<link rel="stylesheet" href="{% static "css/new/score.css" %}" />
<link rel="stylesheet" href="{% static "css/new/create.css" %}" />
<style>
    #edit-password, #edit-information{
      width:300px;
      margin: 0 auto;
    }
    label{
      display:block;
    }

  </style>
{% endblock %}

{% block js_scripts %}
  <script type="text/javascript">
    var page = "{{ page }}";
  </script>
  <script type="text/javascript" src="{% static "js/new/account_settings.js" %}"></script>
<script>

    $(document).ready(function() {
$("li a.logout").click(function(){
    localStorage.clear();
    location.href="/login";
});
    });
</script>
<script type="text/javascript" src="{% static "js/timeConversion.js" %}" />
{% endblock %}

{% block content %}
<div class="container fluid-content">
  <div class="content" id ="content">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-left" >
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align:left">Settings</h3>
        </div>
          <div class="panel-body">
            <a href="/account_settings/1/" id="e_profile"><img src="{% static "img/general.png" %}" width="20px"> General</a><br>
            <a href="/account_settings/2/" id="e_password"><img src="{% static "img/security.png" %}" width="20px"> Security</a><br>
            <a href="/account_settings/3/" id="e_roster"><img src="{% static "img/peopleicon.png" %}" width="20px"> Team</a><br>
            <a href="" id="e_payment"><img src="{% static "img/payment.png" %}" width="20px"> Payments</a><br>
            <a href="/payments/subscribe/" id=""><span class="glyphicon glyphicon-retweet"></span> Subscription</a><br>
            <a href="/payments/history/" id=""><span class="glyphicon glyphicon-book"></span> History</a><br>
            
          </div>
      </div>
    </div>

    <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="display-title"></h3>
        </div>
          <div class="panel-body">
            <form id="edit-information" name="edit-information"  class="pull-left col-lg-6" style="display: none;" data-parsley-validate>
              <div class="form-group">
                <label for="organization">Main Organization</label>
                <input type="text" id="organization" name="organization" class="form-group form-control" required autofocus data-parsley-group="block1" disabled="disabled">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-group form-control" required autofocus data-parsley-group="block1">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-group form-control" required autofocus data-parsley-group="block1">
                <div class="btn-group" role="group">
                  <button type="submit" id="submit" class="btn btn-success form-control">Update Profile</button>
                </div>
              </div>
            </form>
            <div class="col-lg-6" id="team_settings" style="border-left: 1px solid #eee; padding-left: 2%; display:none;">
               Change Team Settings
              <div class="form-group" style="padding-top:1%">
                <label for="base-athlete-select" class="sr-only">Select Team:</label>
                <select class="athlete-select form-control pull-right" id="base-athlete-select">
                  <option disabled selected>Select Team</option>
                </select>
                <label class="btn btn-default" style="margin-top:2%">
                    <input type="radio" id="team_type" name="team_type" value="public"/> Public
                  </label>
                  <label class="btn btn-default" style="margin-top:2%">
                    <input type="radio" id="team_type" name="team_type" checked="checked" value="private"/> Private
                  </label>
              </div>
              *Changing to public allows team to be found on external results page.<br><br>
              <div class="btn-group" role="group">
                  <button type="submit" id="submitTeam" class="btn btn-primary form-control">Update Team</button>
                </div>
            </div>


            <form id="edit-password"  class="pull-left"name="edit-password" style="display: none;" data-parsley-validate>
              <div class="form-group">
                <label for="o_password">Old Password</label><br>
                <input type="password" id="o_password" name="o_password" class="form-group form-control" required autofocus data-parsley-group="block1">
                <label for="n_password">New Password</label><br>
                <input type="password" id="n_password" name="n_password" class="form-group form-control" required autofocus data-parsley-group="block1">
                <label for="c_password">Confirm New Password</label><br>
                <input type="password" id="c_password" name="c_password" class="form-group form-control" required autofocus data-parsley-group="block1">
                <div class="btn-group" role="group">
                  <button type="submit" id="submit" class="btn btn-success form-control">Update Password</button>
                </div>
              </div>
            </form>
            <div id='payment' class="pull-left" style='display: none; width:40%'></div> 
            <div id="athletes" class="table pull-left" style='display: none;'>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="success-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="color:black">
            Success!<button id="cl" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="modal-body" style="color:black">
          <div id="success_reference">
            <p class="notification notification-success no-data center" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Successfully Updated.
          </p>
          <p class="notification notification-error no-sessions" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Error. Something went wrong
          </p>
            <br><br>
            </div>
         </div>
        <div class="modal-footer">
          <div class="btn-group pull-right" role="group">
            <button type="submit" data-dismiss="modal" class="btn btn-primary" style="margin-left:2%">Close</button>
          </div>
          <div id="spinner-form"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
