{% extends "base_new.html" %}
{% load static %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static "css/new/analyze.css" %}" />
{% endblock %}

{% block js_scripts %}
	<script type="text/javascript" src="{% static "js/timeConversion.js" %}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="{% static "js/access_token.js" %}"></script>
	<script type="text/javascript" src="{% static "js/new/analyze.js" %}"></script>
{% endblock %}

<!-- Body -->
{% block content %}
	<div id="content" class="container-fluid">
		<div class="container">
			<div class="row">
				<h1>Analysis</h1>
			</div>
			
			<div id="compare-options" class="row" style="display:none;">
				<div class="compare-select col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<h5>Compare:</h5>
					<div class="row">
						<div class="athlete-select-container col-lg-6 col-md-6">
							<div class="form-group">
								<label for="base-athlete-select" class="sr-only">Select athlete 1:</label>
								<select class="athlete-select form-control" id="base-athlete-select">
									<option disabled selected>Select athlete</option>
								</select>
							</div>
						</div>
						<div class="workout-select-container col-lg-6 col-md-6">
							<div class="form-group">
								<label for="base-workout-select" class="sr-only">Select workout for athlete 1:</label>
								<select class="workout-select form-control" id="base-workout-select">
									<option disabled selected>Select workout</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				
				<div class="compare-select col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<h5>To:</h5>
					<div class="row">
						<div class="athlete-select-container col-lg-6 col-md-6">
							<div class="form-group">
								<label for="base-athlete-select" class="sr-only">Select athlete 2:</label>
								<select class="athlete-select form-control" id="compare-athlete-select">
									<option disabled selected>Select athlete</option>
								</select>
							</div>
						</div>
						<div class="workout-select-container col-lg-6 col-md-6">
							<div class="form-group">
								<label for="base-workout-select" class="sr-only">Select workout for athlete 2:</label>
								<select class="workout-select form-control" id="compare-workout-select">
									<option disabled selected>Select workout</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="enable-vo2-container" class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<label for="enable-vo2" class="sr-only">Enable VO2:</label>
						<input type="checkbox" id="enable-vo2" class="switchery-checkbox"><span id="enable-vo2-status"></span>
					</div>
				</div>
			</div>
			<div id="vo2-collapse" class="accordion-body collapse" aria-labelledby="enable-vo2">
				<div class="row">
					<div id="base-vo2" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
					</div>
					<div id="compare-vo2" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>

			<div id="results" class="row" style="display:none;">
				<ul id="results-nav" class="nav nav-tabs">
					<li role="presentation" class="active" id="table"><a href="#">Table</a></li>
					<li role="presentation" id="graph"><a href="#">Graph</a></li>
				</ul>

				<div id="results-table" class="table results-tab-content" style="display:none;">
					<table id="splits-table" class="table table-striped table-hover"></table>
				</div>

				<div id="results-graph" class="results-tab-content" style="display:none;">
					<div id="graph-canvas"></div>
				</div>

			</div>

			<div id="notifications" class="row">
				<p class="notification notification-error no-athletes" role="alert" style="display:none;">
					<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> There no athletes in your roster.
				</p>
				<p class="notification notification-warning select-sessions" role="alert" style="display:none;">
					<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Please select workout sessions for comparison.
				</p>
			</div>

			<div id="spinner"></div>

		</div>
	</div>
{% endblock %}