{% load i18n %}
{% block content %}
{% autoescape off %}
{% blocktrans %}
You're receiving this email because your coach has provided you an account to {{ site_name }}.
{% endblocktrans %}
{% trans "Your username is:" %}
{{ username }}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_password %}{{protocol}}{{ domain }}/UserSettings/{{ uid }}/{{ token }}

{% trans "Thanks for using our site!" %}
{% trans "The TRAC Team" %}

{% endblock %}
{% endautoescape %}
{% endblock %}