<!DOCTYPE html>

{% load static %}

<html lang="en" class="">
    
<head>
    <meta name="description"  content="A Chicago based startup focusing on simplifying the track and field experience." /> 

    {% block facebook_meta %}
    <meta property="og:image" content="http://trac-us.com/images/shoes-video.jpg"/>
    <meta property="og:title" content="TRAC | Timing and Racing Around the Clock "/>
    <meta property="fb:admins" content="804255640" />
    <meta property="og:type"   content="website" /> 
     <meta property="og:site_name" content="Timing and Racing Around the Clock"/>
    <meta property="og:url"    content="http://www.trac-us.com" /> 
    <meta property="og:description" content="A Chicago based startup focusing on simplifying the track and field experience." /> 
    {% endblock %}
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="canonical" href="http://www.trac-us.com"/>
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="all" 
          href="{% static "css/styleNew.css" %}" />
    <link rel="stylesheet" href="{% static "css/login_style.css" %}" />
     <link rel='stylesheet' href="{% static "css/fullcalendar.css" %}" />
     <link rel='stylesheet' href="{% static "css/pushy.css" %}" />
     	<link href="{% static "css/progression.min.css" %}" rel='stylesheet' type='text/css'>
             <link type="text/css" rel="stylesheet" href="{% static "css/jquery.dropdown.css" %}" />

    {% block js_scripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static "css/new/main.css" %}" />
<link rel="stylesheet" href="{% static "css/new/score.css" %}" />
    <script type="text/javascript" src="{% static "js/access_token.js" %}"></script>
    <script type="text/javascript" src="{% static "js/papaparse.min.js" %}"></script>

    <script type="text/javascript" src="{% static "js/jquery.dropdown.js" %}"></script>
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/fullcalendar.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.serializeJSON.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/parsley.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/progression.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jspdf.debug.js" %}"></script>

<script type="text/javascript" src="{% static "js/pushy.min.js" %}"></script>
<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57985584-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
    <!--<script src="{% static "js/jquery-2.1.1.js" %}"></script>-->
   <script>
	$(document).ready(function(){
	if (sessionStorage.usertype == 'athlete'){
		$("a#create.scrollto").hide();
		$("li.readers").hide();
		$("li.settings").hide();
		}
	else{
		$("li.tags").hide();
		}
	})
	</script>
    {% endblock %}

    <title>
        {% block title %}
        Timing and Racing Around the Clock | Chicago
        {% endblock %}
    </title>

    {% block extra_head %}
    {% endblock %}
</head>

<body>
  <div id="bowtruss-header" class="container">
    <a href="#" id="pull"></a>
    <ul>

      <li>
        <a href="/" class="scrollto logo" title="trac">trac</a>
      </li>

      <li></li>
      <li></li>
      <li></li>

      <li>
        <a href="/home" class="scrollto" rel="home">Home</a>
      </li>
      
      <li>
        <a href="/liveview" class="scrollto" rel="bg2">Live View</a>
        </li>

      <li>
        <a href="/calendar" class="scrollto" rel="bg3">Calendar</a>
      </li>
     
      <li>
        <a href="/create" class="scrollto" rel="bg4" id="create">Create</a>
      </li>

      </li>
      <li><a data-dropdown="#dropdown-1"><img src="{% static "img/ic_action_expand_blue_down.png" %}" height=60%></a></li>
    
      
     
    </ul>
  </div>

  <div class="parallax">

            {% block content %}       
            {% endblock %} 


    <div id="footer">
        <div class="content">
	        <a href="/en/home.html">
                <img alt="Logo" title="traclogo" class="cq-dd-image" 
                     src="{% static "img/traclogo_small.png" %}">
			</a>
            <br><br>

			<div class="contactModule bottom">
			    <span class="copyright">&copy; 2014 Timing and Racing Around the Clock LLC. All rights reserved.</span>
				<span class="links">
				    <a href="" target="_new">Locations</a>
					<a href="" target="_new">Legal &amp; Privacy Notices</a>
					<a href="info@trac-us.com" target="_new">Contact Us</a>
				</span>
			</div>
        </div>
    </div>
          
  </div>

  <div id="dropdown-1" class="dropdown dropdown-tip">
    <ul class="dropdown-menu">
      <li class="settings"><a class="settings" href="/settings">Settings</a></li>
      <li class="tags"><a class="tags" href="/tags">Tags</a></li>
      <li class="readers"><a class="readers" href="/readers">Readers</a></li>
      <li class="dropdown-divider"></li>
      <li><a class="logout">Log Out</a></li>
    </ul>
  </div>
    
</body>
</html>

