{% extends "base_new.html" %}
{% load static %}


{% block stylesheets %}
	<link href="{% static "css/bootstrap-datepicker3.min.css" %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static "css/new/create.css" %}" />
{% endblock %}

{% block js_scripts %}
	<script src="{% static "js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
	<script type="text/javascript" src="{% static "js/timeConversion.js" %}"></script>
	<script type="text/javascript" src="{% static "js/access_token.js" %}"></script>
	<script type="text/javascript" src="{% static "js/new/create.js" %}"></script>
{% endblock %}

{% block nav-items %}
  <li><a href="/home">Home</a></li>
  <li><a href="/liveview">Live View</a></li>
  <li><a href="/create">Create</a></li>
  <li><a href="/settings">Race Management</a></li>
  <li><a class="hidden-sm hidden-md hidden-lg" href="/readers">Readers</a></li>
  <li><a class="hidden-sm hidden-md hidden-lg" href="/settings">Settings</a></li>
  <li><a class="logout hidden-sm hidden-md hidden-lg" href="">Logout</a></li>
	<!-- Single button -->
  <li id="dropdown-button" class="btn-group hidden-xs">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu" >
      <li><a href="/readers">Readers</a></li>
      <li><a href="/settings">Settings</a></li>
      <li role="separator" class="divider"></li>
      <li><a class="logout" href="">Logout</a></li>
    </ul>
  </li>
{% endblock %}

{% block content %}
	<div class="modal fade" id="notifications-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="center">
						<p class="notification notification-error server-error" role="alert">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Oops. Something went wrong. Please try again.
						</p>
						<p class="notification notification-success create-success" role="alert">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> You have successfully created a workout!
						</p>
						<p class="notification notification-success update-success" role="alert">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> You have successfully updated a workout!
						</p>
						<p class="notification notification-success delete-success" role="alert">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> You have successfully deleted a workout!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="form-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<form id="session-form" name="session-form" method="POST">
						<input type="hidden" id="idnumber" name="idnumber" value="">
						
						<div class="form-group">
							<label for="title">Workout Title:</label>
							<input type="text" id="title" name="title" class="form-control" required autofocus data-parsley-group="block1">
						</div>

						<div class="form-group" style="overflow:hidden;">
							<div style="width:50%; float:left; padding-right:5px;">
								<label for="start-date">Start Date:</label>
								<input type="text" id="start-date" name="start-date" class="form-control" required data-parsley-group="block1" data-parsley-date>
							</div>
							<div style="width:50%; float:left; padding-left:5px;">
								<label for="start-time">Start Time:</label>
								<div style="width:60%; float:left; padding-right:5px;">
									<input type="text" id="start-time" name="start-time" class="form-control" required data-parsley-group="block1" data-parsley-time>
								</div>
								<div style="width:40%; float:left; padding-left:5px;">
									<label for="start-am-pm" class="sr-only">AM/PM</label>
									<select class="form-control" id="start-am-pm">
										<option selected>AM</option>
										<option>PM</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group" style="overflow:hidden;">
							<div style="width:50%; float:left; padding-right:5px;">
								<label for="end-date">End Date:</label>
								<input type="text" id="end-date" name="end-date" class="form-control" required data-parsley-group="block1" data-parsley-date>
							</div>
							<div style="width:50%; float:left; padding-left:5px;">
								<label for="end-time">End Time:</label>
								<div style="width:60%; float:left; padding-right:5px;">
									<input type="text" id="end-time" name="end-time" class="form-control" required data-parsley-group="block1" data-parsley-time>
								</div>
								<div style="width:40%; float:left; padding-left:5px;">
									<label for="end-am-pm" class="sr-only">AM/PM</label>
									<select class="form-control" id="end-am-pm">
										<option selected>AM</option>
										<option>PM</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="distance">Interval Distance:</label>
							<input type="text" id="distance" name="distance" class="form-control" required data-parsley-group="block1" data-parsley-type="number">
						</div>

						<div class="form-group">
							<label for="size">Track Size:</label> 
							<input type="text" id="size" name="size" class="form-control" required data-parsley-group="block1" data-parsley-type="number">
						</div>

						<div class="form-group" style="overflow:hidden;">
							<div style="width:50%; float:left; padding-right:5px;">
								<label for="filter">Filter Splits?</label>
								<div style="padding-left:5px; border-radius:4px;">
									<input type="radio" name="filter" id="filter-yes" value="yes" required> Yes
									<input type="radio" name="filter" id="filter-no" value="no" style="margin-left:10px;"> No
								</div>
							</div>
							<div style="width:50%; float:left; padding-left:5px;">
								<label for="private">Private?</label>
								<div style="padding-left:5px; border-radius:4px;">
									<input type="radio" name="private" id="private-yes" value="yes" required> Yes
									<input type="radio" name="private" id="private-no" value="no" style="margin-left:10px;"> No
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<div id="session-edit-buttons" class="session-form-buttons center">
								<button type="submit" id="update" class="btn btn-primary" style="margin-right:10px;">Update</button>
								<button type="submit" id="delete" class="btn btn-danger">Delete</button>
							</div>
							<div id="session-delete-buttons" class="session-form-buttons center">
								<p style="text-align:center;">Confirm Delete</p>
									<button type="submit" id="delete-yes" class="btn btn-danger" style="margin-right:10px;">Delete</button>
									<button type="submit" id="delete-no" class="btn btn-default">Cancel</button>
							</div>
							<div id="session-create-buttons" class="session-form-buttons center">
							  <button type="submit" id="create" class="btn btn-primary">Create</button>
							</div>
							<div id="spinner-form"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="container-fluid">
		<div class="container">
			<div class="row">
				<h1>Recent Workouts</h1>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0;">
					<div class="sessions-navigate">
						<button type="button" class="prev btn btn-default">
							<span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
						</button>
						<span class="sessions-page-number"></span>
						<button type="button" class="next btn btn-default">
							<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
						</button>
						<span class="sessions-show-status"></span>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-right:0; text-align:right;">
					<button type="button" class="btn btn-default" id="new-session" data-toggle="modal" data-target="#form-modal">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span class="hidden-xs">New Session</span>
					</button>
				</div>
			</div>
			<div class="row">
				<div id="results" class="table"></div>
				<div id="notifications">
					<p class="notification notification-error no-sessions" role="alert">There are currently no workouts to show.</p>
				</div>
			</div>
			<div class="row" style="margin-bottom:30px;">
				<div class="center">
					<div id="sessions-navigate-footer" class="sessions-navigate">
						<button type="button" class="prev btn btn-default">
							<span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
						</button>
						<span class="sessions-page-number"></span>
						<button type="button" class="next btn btn-default">
							<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</div>

			<div id="spinner-main"></div>
			
		</div>
	</div>
{% endblock %}
