{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div id="home">  
     
	    <div class="content">
       
        <br>
          <br>
        <div class="pictures">
        <div class="left">
          <img src="{% static "img/actiontime.png" %}" height="200px">
        </div>
       
        <div class="mid">
          
          <img src="{% static "img/calendar.png" %}" height="200px">
            
        </div>
        
        <div class="right">
          <img src="{% static "img/create.png" %}" height="185px">
        </div>
        </div>
        <div class="text">
          <div class="left">
            <h5>
              &nbsp&nbspLIVE VIEW
            </h5>
          </div>
          <div class="mid">
            <h5> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp CALENDAR</h5>
          </div>
          <div class="right">
            <h5>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCREATE</h5>
          </div>
           
        </div>
      
      </div>
    </div>

     
   {% endblock %} 
    
    
    
</html>