<!DOCTYPE html>

{% load static %}

<html lang="en" class="">

<head>
  <title>TRAC | Race Timing on Demand</title>
  <meta name="description"  content="TRAC provides timing on demand for road, cross country, and trail races. Never use a stopwatch again. Platform supports iOS, Android, and Web."> 
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  {% block facebook_meta %}
  <meta property="og:image" content="http://trac-us.com/images/shoes-video.jpg">
  <meta property="og:title" content="TRAC | Timing and Racing Around the Clock ">
  <meta property="fb:admins" content="804255640">
  <meta property="og:type"   content="website"> 
  <meta property="og:site_name" content="Timing and Racing Around the Clock">
  <meta property="og:url"    content="http://www.tractiming.com">
  <meta property="og:description" content="TRAC provides timing on demand for road, cross country, and trail races. Supports iOS, Android, and Web."> 
  {% endblock %}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link rel="canonical" href="http://www.tractiming.com">
  <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <!-- Twitter Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- Vendor CSS -->
  <link href="{% static "css/parsley.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/switchery.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/new/main.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/new/style.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/colorbox.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/bootstrap-datepicker3.min.css" %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static "css/new/swiper.min.css" %}">
  <style>
    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    button#submit {
      cursor: pointer !important;
    }
    div.datepicker {
      color:black;

    }
    
  </style>

  <!-- Vendor scripts -->
  <script src="{% static "js/new/swiper.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/jquery.scrollTo.js" %}" type="text/javascript"></script>  
  <script src="{% static "js/parsley.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/switchery.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/new/jquery.colorbox.js" %}" type="text/javascript"></script>
  <script src="{% static "js/bowtruss.js" %}" type="text/javascript"></script>
  <script src="{% static "js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
  <script type="text/javascript" src="{% static "js/new/index.js" %}"></script>
  
<!--colorbox-->
<link rel="stylesheet" href="static/css/colorbox.css" />  
<script src="static/js/new/jquery.colorbox.js"></script>
<script>
  $(document).ready(function(){
    //$(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390}); 
    $(".youtube").colorbox({iframe:true, width:"90%", height:"95%"}); 
    $(".iframe").colorbox({iframe:true, width:"50%", height:"65%"}); 
  });
</script>
  
  
  <!-- Google Analytics -->  
 <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57985584-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <!--Amplitude Analytics -->
  <script type="text/javascript">
    (function(t,e){var n=t.amplitude||{};var r=e.createElement("script");r.type="text/javascript";
    r.async=true;r.src="https://d24n15hnbwhuhn.cloudfront.net/libs/amplitude-2.8.0-min.gz.js";
    r.onload=function(){t.amplitude.runQueuedFunctions()};var s=e.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(r,s);var i=function(){this._q=[];return this};function o(t){
    i.prototype[t]=function(){this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
    return this}}var a=["add","append","set","setOnce","unset"];for(var u=0;u<a.length;u++){o(a[u]);
    }n.Identify=i;n._q=[];function c(t){n[t]=function(){n._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
    }}var l=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify"];
    for(var p=0;p<l.length;p++){c(l[p])}t.amplitude=n})(window,document);

    amplitude.init("682ef0da1e09065f2b2359619f592ded");
  </script>
  <style>
  #subcontainer {
  }
#image {
}
#subtext {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  left: 7%;
  top: 25%;
}
#grad {
  background: rgba(52,119,168,1)); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(52,119,168,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(52,119,168,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(52,119,168,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(52,119,168,1)); /*Standard*/
}

  </style>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" id="bowtruss-header">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="logo" class="navbar-brand" href="/">
          <img class="footer-img" src={% static "img/trac_small.gif" %} alt="TRAC" aria-hidden="true" >
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/#bg4" class="scrollto" rel="bg4" onclick="amplitude.logEvent('products');">Product</a></li>
            <li><a href="/#bg3" class="scrollto" rel="bg3" onclick="amplitude.logEvent('about');">About</a></li>
            <li><a href="https://blog.tracchicago.com" target="_blank" onclick="amplitude.logEvent('blog');">Blog</a></li>
            <li><a href="/#bg5" class="scrollto" rel="bg5" onclick="amplitude.logEvent('team');">Team</a></li>
            <li><a href="/score/" onclick="amplitude.logEvent('score');">Results</a></li>
            <li><a class="hidden-lg hidden-md"href="/login" class="scrollto" rel="bg6">Login</a></li>
            <li class="hidden-sm hidden-xs"><button class="btn btn-warning" style="margin-top:20%; margin-left:5%" onclick="location.href='/login'; amplitude.logEvent('toLogin');">Log in</button></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


  <div class="parallax" id="top">
      <div class="swiper-container" id="grad"> 
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div id="subcontainer">
              <img id='image' src={% static "img/splash1.jpg" %} style='width:100%;' class='' />
              <div id="subtext" >
              <h2>YOUR RACE, ON DEMAND</h2><br>
              <p class="hidden-xs">TIMING AT THE CLICK OF A BUTTON</p> <br> 
              <button type="submit" id="submit" class="btn btn-primary form-control" style="margin-left:2%; width:250px;" onclick="location.href='/quote'; amplitude.logEvent('Order_Now');">Order Now</button> 
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div id="subcontainer">
              <a href='https://www.youtube.com/embed/Tk-7w_dl9aY?rel=0&amp;showinfo=0' class='youtube' onclick="amplitude.logEvent('promoVideo');"><img id='image' src={% static "img/splash2dark.JPG" %} style='width:100%;' class='' /></a>
              <div id="subtext" >
              <h2 style="color:white">NEVER MISS A SPLIT</h2><br>
              <p style="color:white" class="hidden-xs">THE TIMING SOLUTION FOR COACHES AND ATHLETES</p> <br> 
              <button type="submit" id="submit" class="btn btn-primary form-control" style="margin-left:2%; width:200px;" onclick="location.href='/register';" onclick="amplitude.logEvent('Create_Account_Off_Splash');">Create Account</button>
              <a href='https://www.youtube.com/embed/Tk-7w_dl9aY?rel=0&amp;showinfo=0' class='youtube' onclick="amplitude.logEvent('promoVideo');"><button type="submit" id="submit" class="btn btn-primary form-control" style="margin-left:2%; width:200px;">See It In Action</button></a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div id="subcontainer">
              <img id='image' src={% static "img/winner.jpg" %} style='width:100%;' class='' />
              <div id="subtext" >
              <h2>FOCUS ON THE RACE</h2><br>
              <p class="hidden-xs">CONCENTRATE ON WHAT MATTERS</p> <br> 
              <button type="submit" id="submit" class="btn btn-primary form-control" style="margin-left:2%; width:250px;" data-toggle="modal" data-target="#order-modal" onclick="location.href='/quote'; amplitude.logEvent('Order_Now');">Order Now</button> 
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div id="subcontainer">
              <div id="subtext" >
                <div class="row" style="padding-top:10%">
                  <div class="col-lg-5 col-md-5 col-sm-5" style="padding-top:7%">
                    <h2 style="color:black" class="hidden-xs">POWERFUL COMPUTING</h2><br>
                    <p style="color:black">RUN ON SMARTPHONE, PROCESSED IN THE CLOUD</p> <br> 
                    <a href="https://play.google.com/store/apps/details?id=com.trac.tracdroid"><img src={% static "img/google-play-badge.png" %} style='height:37px' /></a>
                    <a href="https://itunes.apple.com/us/app/t.r.a.c./id1011232830?ls=1&mt=8"><img src={% static "img/appleicon.svg" %} style='height:38px' /></a>

                  </div>
                   <div class="col-lg-6 col-md-5 col-sm-5 hidden-xs">
                    <img src={% static "img/phone_screenshots.png" %} style='width:100%;' />
                  </div>
              </div>
              </div>
            </div>
          </div>


           <!-- <div class="swiper-slide">
              <a href='https://www.youtube.com/embed/0mxy3hyEMno?rel=0&amp;wmode=transparent' class='youtube' onclick="amplitude.logEvent('promoVideo');"><img src={% static "img/shoes-video.jpg" %} style='width:100%;' class='' /></a>
            </div>-->

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 1,
        paginationClickable: true,
        spaceBetween: 30,
        loop: true,
        autoplay: 5500,
        autoplayDisableOnInteraction: false
    });
    </script>

  <div style="position:absolute; margin-top:-60px;">
    <h1 class="logo hidden-xs" style="font-family: 'GothamHTF-Book', 'Helvetica', 'Arial', sans; font-size:30px; color:#fff; margin-right:auto; margin-left:auto; font-weight:700;">Timing And Racing Around the Clock</h1> 
    </div> 
    <!--<div id="bg2">  
     
    <div class="content">
        <h2>Product</h2>
        <br>
          <br>
        <div class="pictures hidden-xs">
        <div class="left">
          <img src={% static "img/box-01.png" %} height="200px">
        </div>
        <div class="wifione hidden-xs">
          <img src={% static "img/dashes-01.png" %} height="100px">
        </div>
        <div class="mid">
          
          <img src={% static "img/phone.png" %} height="150px">
            
        </div>
        <div class="wifitwo hidden-xs">
          <img src={% static "img/dashes-01.png" %} height="100px">
        </div>
        <div class="right">
          <img src={% static "img/trophy-01.png" %} height="150px">
        </div>
        </div>
        <div class="text hidden-xs">
          <div class="left">
            <p>
              Order everything necessary in preparation for race day. We ship it to you a few days before.
            </p>
          </div>
          <div class="mid">
            <p>Run the entire system off your smartphone. No messy cables or equipment.</p>
          </div>
          <div class="right">
            <p>Results are streamed live to the web and immediately available for all participants.</p>
          </div>
           
        </div>
        <div class="row hidden-lg hidden-md hidden-sm">
          <img src={% static "img/box-01.png" %} height="200px">
          <p>
              Order everything necessary in preparation for race day. We ship it to you a few days before.
            </p>
          <div class="col-4-xs">
          </div>
          <div class="col-4-xs">
            <img src={% static "img/phone.png" %} height="150px">
            <p>Run the entire system off your smartphone. No messy cables or equipment.</p>
          </div>
          <div class="col-4-xs">
            <img src={% static "img/trophy-01.png" %} height="150px">
            <p>Results are streamed live to the web and immediately available for all participants.</p>
          </div>
        </div>

      <!--  <br><br><br><br><br>
        &#8226; Eliminates the need for clipboards and stopwatches
        <br><br>
          &#8226; Hardware is lightweight (5lbs) and rechargable
          <br><br>
           &#8226; Wearables attach to shoes and never need to be charged-->
     <!-- </div>
    </div>-->
<div id="bg4">
      <div class="text"><br>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
              <br><br>
            <h2>Product</h2><br>
          </div>
        </div>

        <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-7">
             <img src={% static "img/DSC_0918.JPG" %} style="width:100%">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-5">
               <p style="text-align:left" class="hidden-xs">
                &bull; Sends results to you immediately (as the race is running)<br>
                &bull; Works in all weather (even snowstorms!)<br>
                &bull; Portable, less than ten pounds<br>
                &bull; Controlled by a simple smartphone app<br>
                &bull; Cost effective, less than half the price of a standard timing system<br>
                &bull; No extra computers needed<br>
                &bull; Works with other systems easily<br>
                &bull; Setup everything in less than 2 minutes<br>
                &bull; Battery life for more than 6 hours<br>
                &bull; <a href="/product#bg2" onclick="amplitude.logEvent('toProductPage');">See the details</a>
            </p>
            <p style="text-align:left" class="hidden-lg hidden-md hidden-sm">
                &bull; Sends results to you immediately (as the race is running)<br>
                &bull; Works in all weather (even snowstorms!)<br>
                &bull; Controlled by a simple smartphone app<br>
                &bull; <a href="/product#bg2" onclick="amplitude.logEvent('toDemo');">See the details</a>
            </p>
            </div>
        </div>
        <div class="row" style="padding-top:5%">
          <div class="col-lg-6 col-lg-offset-3 col-md-5 col-sm-8 col-xs-8 col-xs-offset-2">
             <a href="https://blog.tracchicago.com" target="_blank" onclick="amplitude.logEvent('toDemo');">Checkout the product in action</a>
          </div>

        </div>
      </div>
      

         

      
      </div>


        
    </div>
  <div id="bg3">
      <div class="text"><br>
      
        <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <br><br><br><h2>About</h2>
    </div>
  </div>
        <div class="row">
              <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 hidden-sm hidden-xs">
                 <p>
                  To the backdrop of Northwestern University, Elliot and Griffin met their freshman year running track & field. They have built a strong sense of collaboration, not only as teammates on the track, but through working on hours of engineering homework together. 
                </p>
              </div>
          </div>
           <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
              <br> <br> <br>
              <p>
                After finishing their master's degrees in the winter of 2013, Elliot and Griffin thought it would be the end of their journey. However, after forgetting his watch multiple times on lonely winter runs, Griffin realized technology was missing from track and field and cross-country running; technology that was simple, easy to use, and available on demand. Needing a partner who could share the dream.
              </p>
              <br>
            </div>
    </div>
        <br>
          <br>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>        TRAC was born.
        
      </p>
            </div>
          </div>
      
      </div>
        
    </div>
    
    <div id="bg5">
      <div class="content">
        <h2>Our Team</h2>
        <div class="row">
          <div class="col-lg-offset-1 col-lg-2">
            <img src={% static "img/grif_headshot.jpg" %} alt="Photo of Grif"  height="150px" width="150px" style=" border-radius: 50%; border: 2px solid #FFF;">
            <address>
              <strong>Griffin Kelly</strong>
              <p>Founder & CEO</p>
            </address>
          </div>
          <div class="col-lg-2">
            <img src={% static "img/elliotheadshot.JPG" %} alt="Photo of Elliot"  height="150px" width="150px" style=" border-radius: 50%; border: 2px solid #FFF;">
            <address>
              <strong>Elliot Hevel</strong>
              <p>Founder & CTO</p>
            </address>
          </div>
          <div class="col-lg-2">
            <img src={% static "img/oscar_headshot.jpg" %} alt="Photo of Oscar"  height="150px" width="150px" style=" border-radius: 50%; border: 2px solid #FFF;">
            <address>
              <strong>Oscar Aguiñaga</strong>
              <p>Business Development</p>
            </address>
          </div>
          <div class="col-lg-2">
            <img src={% static "img/bew_headshot.jpg" %} alt="Photo of Bew"  height="150px" width="150px" style=" border-radius: 50%; border: 2px solid #FFF;">
            <address>
              <strong>Bew Harichanwong</strong>
              <p>Engineer</p>
            </address>
          </div>
          <div class="col-lg-2">
            <img src={% static "img/Greenway_headshot.jpg" %} alt="Photo of AJ"  height="150px" width="150px" style=" border-radius: 50%; border: 2px solid #FFF;">
            <address>
              <strong>AJ Greenway</strong>
              <p>Business Development</p>
            </address>
          </div>
        </div>
      </div>
    </div>



<!--Footer Addition -->
 <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-6 footer-item">
          <a id="logo" class="navbar-brand" href="/">
            <img class="footer-img" src= {% static "img/trac_small.gif" %} alt="TRAC" aria-hidden="true" >
          </a>
        </div>

        <div class="col-md-3 col-sm-6 footer-item">
          <div class="internal">
            <a href="https://www.facebook.com/timingracing" target="_blank" onclick="amplitude.logEvent('toFB');"><img src={% static "img/facebook.png" %}></a>
            <a href="https://youtu.be/Tk-7w_dl9aY" target="_blank"><img src={% static "img/youtube.png" %} width="50px"></a>
            <a href="https://twitter.com/TRAC_Chicago" target="_blank" onclick="amplitude.logEvent('toTwitter');"><img src= {% static "img/twitter2.png" %} style="width:56px"></a>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 hidden-xs footer-item">
          <div class="external">
            <ul>
              <li><a href="/#bg3" class="scrollto" rel="bg3">About</a></li>
              <li><a href="/faqs/" onclick="amplitude.logEvent('toFAQ');">Frequently Asked Questions</a></li>
              <li><a href="/privacy/">Privacy</a> <a style="cursor:pointer">&</a> <a href="/terms/">Terms</a></li>
              <li><a href="mailto:info@tractiming.com" onclick="amplitude.logEvent('mailto');">Contact us</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 footer-item">
          <address style="color:black">
            Timing and Racing Around the Clock<br>
            2311 Campus Drive<br>
            Evanston, IL 60208<br><br>
          </address>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
  
    $(document).ready(function() {
      bowtrussHeader();
  Footer();
    });
  </script>
  <script>
/*!function ($) {
  $(document).ready(function() {
    /* fancy background video player deally */    
  /*  $('.video-background').videobackground({
      videoSource: ['video/trac.mov', 'video/mov'], 
      poster: '',
      resize: false,
      loop: true,
      autoplay: true,

      preloadCallback: function() {
      },
      loadedCallback: function() {
        $(this).videobackground('mute');
      }
    });
  
    /* physical controls */   
/*    $("#target").click(function() {
      $('.video-background').videobackground('play');
      $('#intro-copy').addClass('fadeintro');
      $('.video-background').toggleClass('visible')
      $('#top').toggleClass('top-hide');
      $('#banner').toggleClass('lower-opacity'); 
    }); 
*/
    /* controlling the video with page scroll triggers */
 /*   var wasUserPlaying = false;
      $("div#bg3").waypoint(function (direction) { 
          if (direction == 'down' ) {
            if( !$('.video-background video').get(0).paused ) {
              $('.video-background video').get(0).pause();
              wasUserPlaying = true;
            } else {
              wasUserPlaying = false;
            }
          }
          else if(direction === 'up' && wasUserPlaying ) {
        $('.video-background video').get(0).play();
          }
    }, { offset: 200 });

$("video").bind("ended", function() {
   alert("I'm done!");
});
    
    

    
    
  });
}(window.jQuery);
*/
</script>

<!-- <div class="modal fade" id="order-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="color:black">
            Estimated Race Day Quote:<button id="cl" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="modal-body" style="color:black">
          <form id="session-form" name="session-form" method="POST">
            
            <div class="form-group">
              <div style="width:50%; float:left; padding-right:5px;">
                <label for="title">Name:</label>
                <input type="text" id="title" name="title" class="form-control" required autofocus data-parsley-group="block1">
              </div>
              <div style="width:50%; float:left; padding-right:5px;">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" class="form-control" required autofocus data-parsley-group="block1">
              </div>
            </div>
            <div class="form-group">
              <label >Number of Tags:</label>
              <input type="text" id="tags" name="organization" class="form-group form-control" required placeholder="5000" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
            </div>
            <label>Tag Type:</label>
            <div class="form-group">
              <label class="btn btn-default">
              <input type="radio" id="tag_type" name="tag_type" value="4"/> Durable
              </label>
              <label class="btn btn-default">
              <input type="radio" id="tag_type" name="tag_type" value="1" checked="checked"/> Disposable w/ Bib
              </label>
            </div>
            <div class="form-group">
              <label >Number of Systems:</label><br>
              <input type="text" id="systems" class="form-group form-control" placeholder="3">
            </div>
            <div class="form-group" style="overflow:hidden;">
              <div style="width:50%; float:left; padding-right:5px;">
                <label for="start-date">Race Start Date:</label>
                <input type="text" id="start-date" name="start-date" class="form-control" required data-parsley-group="block1" data-parsley-date>
              </div>
              <div style="width:50%; float:left; padding-left:5px;">
                <label for="start-time">Race Start Time:</label>
                <div style="width:60%; float:left; padding-right:5px;">
                  <input type="text" id="start-time" name="start-time" class="form-control" value="9:00" required data-parsley-group="block1" data-parsley-time>
                </div>
                <div style="width:40%; float:left; padding-left:5px;">
                  <label for="start-am-pm" class="sr-only">AM/PM</label>
                  <select class="form-control" id="start-am-pm">
                    <option selected>AM</option>
                    <option>PM</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
            <label id="pricing">Estimated Price: $25.00</label>
            <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Ordering Guidelines
            </button>
              
            </div>
          </form>
          <div class="collapse" id="collapseExample">
                <div class="well">
                  Durable Chips are worn on foot and are designed for practices. Disposable chips are sent on a racing bib. <br>
                  System Rentals:<br>
                  Mass start & finish line (>15ft): 1 <br>
                  Mass start & wide finish line (<15ft): 2 <br>
                  If you intend to have a chip timed start, that is not the finish, add 1 (>15ft) or 2 (<15ft)<br>
                  For checkpoints, depending on the width, add the necessary number of systems. If races are circular, and start and finish in the same place, the same systems can be used.<br>
                  For more information contact: info@tractiming.com

                </div>
              </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group center" role="group">
            <button type="submit" id="quote" class="btn btn-primary" style="margin-left:2%">Submit Quote</button>
          </div>
          <div id="spinner-form"></div>
        </div>
      </div>
    </div>
  </div> -->

<div class="modal fade" id="payment-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="color:black">
            Success!<button id="cl" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="modal-body" style="color:black">
          <div id="success_reference">
           We have emailed you a quote. We'll be in touch shortly about your race.
            <!-- TODO: Take info, create account as necessary
            <br><br>
            To manage your event, and stay updated with your order please create an account: <br><center><button type="submit" id="submit" class="btn btn-primary" style="margin-left:2%; width:250px;" onclick="location.href='/register';" onclick="amplitude.logEvent('Create_Account_Payment_Popup');">Register</button> </center>-->
            <br><br>
            For more information regarding your order, email <a href="mailto:info@tractiming.com" style="color:#3577A8 !important;">info@tractiming.com</a>
            </div>
         </div>
        <div class="modal-footer">
          <div class="btn-group pull-right" role="group">
            <button type="submit" data-dismiss="modal" class="btn btn-primary" style="margin-left:2%">Close</button>
          </div>
          <div id="spinner-form"></div>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
