{% extends "base_new.html" %}

{% load staticfiles %}

<!-- Head -->
{% block stylesheets %}
	<link href="{% static "css/fullcalendar.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "css/new/live_view.css" %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block js_scripts %}
	<script type="text/javascript" src="{% static "js/timeConversion.js" %}"></script>
	<script type="text/javascript" src="{% static "js/access_token.js" %}"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	
	<script type="text/javascript" src="{% static "js/new/live_view.js" %}"></script>
	<script type="text/javascript" src="{% static "js/fullcalendar.js" %}"></script>
{% endblock %}

<!-- Body -->
{% block nav-items %}
  <li><a href="/home">Home</a></li>
  <li><a href="/liveview">Live View</a></li>
  <li><a href="/create">Create</a></li>
  <li><a href="/settings">Race Management</a></li>
  <li><a class="hidden-sm hidden-md hidden-lg" href="/readers">Readers</a></li>
  <li><a class="hidden-sm hidden-md hidden-lg" href="/account_settings">Settings</a></li>
  <li><a class="logout hidden-sm hidden-md hidden-lg" href="">Logout</a></li>
  <!-- Single button -->
  <li id="dropdown-button" class="btn-group hidden-xs">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu" >
      <li><a href="/readers">Readers</a></li>
      <li><a href="/account_settings">Settings</a></li>
      <li role="separator" class="divider"></li>
      <li><a class="logout" href="">Logout</a></li>
    </ul>
  </li>
{% endblock %}

{% block content %}
	<nav class="pushy pushy-left">
		<ul class="menulist">      
		</ul>
	</nav>

	<div class="site-overlay"></div>

	<div id="idle-overlay" style="display: none;">
		<div class="idle-container">
			<div class="container">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 idle-dialog">
					<p>Are you still using TRAC?</p>
					<div class="center">
					  <button id="idle-yes" class="btn btn-primary btn-md" style="margin-right: 10px;">Yes</button>
					  <button id="idle-no" class="btn btn-default btn-md">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="calendar-overlay" style="display: none;">
		<div class="calendar-container col-lg-7 col-md-7 col-sm-9 col-xs-12">
			<div class="calendar-dialog">
				<div id="calendar">
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="filter-disable-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>It seems the filter is enabled for this workout. To edit individual splits, the filter has to be off. Would you like to turn it off? </p>
					<div class="center">
						<button id="filter-disable-confirm" class="btn btn-primary btn-md" style="margin-right: 10px;">Yes</button>
						<button id="filter-disable-cancel" class="btn btn-danger btn-md">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modify-total-time-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="center" style="">
						<p class="notification notification-warning edit-total">Editing total time will delete all splits and replace them with a single split with the time you specify.</p>
						<p class="notification notification-error total-time-error" role="alert">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Looks like the input is an invalid time. Please try again.
						</p>
					</div>
					<div class="center" style="margin-bottom:15px;">
						<div class="modify-total-time-input">
							<label for="total-hrs" class="sr-only">Hours</label>
							<input type="text" id="total-hrs" name="total-hrs" class="form-control numeric-input" placeholder="hh" autofocus>
						</div>
						<span class="modify-total-time-separator">:</span>
						<div class="modify-total-time-input">
							<label for="total-mins" class="sr-only">Minutes</label>
							<input type="text" id="total-mins" name="total-mins" class="form-control numeric-input" placeholder="mm">
						</div>
						<span class="modify-total-time-separator">:</span>
						<div class="modify-total-time-input">
							<label for="total-secs" class="sr-only">Seconds</label>
							<input type="text" id="total-secs" name="total-secs" class="form-control numeric-input" placeholder="ss">
						</div>
						<span class="modify-total-time-separator">.</span>
						<div class="modify-total-time-input" style="width:60px;">
							<label for="total-ms" class="sr-only">Milliseconds</label>
							<input type="text" id="total-ms" name="total-ms" class="form-control numeric-input" placeholder="ms">
						</div>
					</div>
					<div class="center">
						<button id="modify-total-time-confirm" class="btn btn-primary btn-md" style="margin-right: 10px;">Confirm</button>
						<button id="modify-total-time-cancel" class="btn btn-danger btn-md">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div id="menu-btn" class="menu-btn" style="display:inline-block;">
						<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Workout Menu
					</div>
				</div>
				<div class="col-md-3 col-md-offset-6 col-sm-4 col-sm-offset-4 col-xs-6" style="text-align:right;">
					<div id="calendar-btn" style="display:inline-block;">
						<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendar
					</div>
				</div>
			</div>

			<div class="row">
				<h1 id="results-title">Live Results</h1>
				<div id="results-status" class="center">Workout status: <span>&#11044;</span></div>
				<div id="results">
					<ul id="results-nav" class="nav nav-tabs">
					  <li role="presentation" class="active"><a href="#">Live Results</a></li>
					  <li role="presentation"><a href="#">Live Graph</a></li>
					  <li id="individual-final" role="presentation"><a href="#">Individual Final</a></li>
					  <li id="team-final" role="presentation"><a href="#">Team Final</a></li>
					</ul>
					<div id="results-table" class="results-tab-content">
						<div id="correction-options" class="container" style="display:none;">
							<div class="row" id="enable-corrections-container">
								<div class="col-lg-12">
									<div>
										<label for="enable-corrections" class="sr-only">Enable auto-correction:</label>
										<input type="checkbox" id="enable-corrections" class="switchery-checkbox"><span id="enable-corrections-status"></span>
									</div>
								</div>
							</div>
						</div>
						<table id="table-canvas" class="table table-striped table-hover" style="margin-top:10px;">
						</table>
					</div>
					<div id="results-graph" class="results-tab-content">
						<div id="graph-canvas"></div>
						<div id="graph-toggle-container">
							<div id="graph-toggle-btn" style="display: table; margin: 0 auto;">
								<button id="toggle" class="btn btn-default btn-md" data-toggle="collapse" data-parent="#graph-toggle-btn" data-target="#graph-toggle-options-container" aria-expanded="false" aria-controls="graph-toggle-options-container">Toggle</button>
							</div>
							<div id="graph-toggle-options-container" class="collapse" aria-labelledby="graph-toggle-btn">
								<div id="graph-toggle-options" style="display:table; margin:0 auto;">
								</div>
							</div>
						</div>
					</div>
					<div id="results-individual" class="results-tab-content">
						<div class="container">
							<div class="row">
								<div class="col-md-3 col-sm-5 col-xs-6" style="padding-top:15px;">
									<div class="form-group">
										<label for="gender-select" class="sr-only">Select list:</label>
										<select class="form-control" id="gender-select">
											<option disabled selected>Gender</option>
											<option>Male</option>
											<option>Female</option>
										</select>
									</div>
								</div>
								<div class="col-md-3 col-sm-5 col-xs-6" style="padding-top:15px;">
									<div class="form-group">
										<label for="age-select" class="sr-only">Select list:</label>
										<select class="form-control" id="age-select">
											<option disabled selected>Age group</option>
											<option>0 - 14</option>
											<option>15 - 19</option>
											<option>20 - 24</option>
											<option>25 - 29</option>
											<option>30 - 34</option>
											<option>35 - 39</option>
											<option>40 - 44</option>
											<option>45 - 49</option>
											<option>50 - 54</option>
											<option>55 - 59</option>
											<option>60 - 64</option>
											<option>65 - 69</option>
											<option>70 - 74</option>
											<option>75 - 79</option>
											<option>80 - 120</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<table id="individual-table-canvas" class="table table-striped table-hover" style="margin-top:10px;"></table>
							</div>
						</div>
					</div>
					<div id="results-team" class="results-tab-content">
						<table id="team-table-canvas" class="table table-striped table-hover" style="margin-top:10px;">
						</table>
					</div>
				</div>
			</div>

			<div class="spinner-container" style="position:relative; top:100px;">
				<div id="spinner"></div>
			</div>
			
			<div id="notifications" class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
					<p class="notification notification-error no-data" role="alert">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> There is currently no data for this event.
					</p>
					<p class="notification notification-error no-sessions" role="alert">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> No recent events to show.
					</p>
					<p class="notification notification-warning select-group" role="alert">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Please select gender and age group.
					</p>
					<p class="notification notification-error no-individual-data" role="alert">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> There is currently no data for this group.
					</p>
					<p class="notification notification-error no-team-data" role="alert">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> There are currently no team results.
					</p>
				</div>
			</div>

			<div id="download-container" style="display: table; margin: 0 auto;">
			  <button id="download" class="btn btn-primary btn-md">Download</button>
			</div>
		</div>
	</div>
{% endblock %}