{% extends "base_new.html" %}

{% load staticfiles %}

<!-- Head -->
{% block stylesheets %}
	<link href="{% static "css/new/liveview.css" %}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block js_scripts %}
	<script type="text/javascript" src="{% static "js/access_token.js" %}"></script>
	<script type="text/javascript" src="{% static "js/new/liveview.js" %}"></script>
{% endblock %}

<!-- Body -->
{% block nav-items %}
  <li><a href="/home">Home</a></li>
  <li><a href="/liveview">Live View</a></li>
  <li><a href="/calendar">Calendar</a></li>
  <li><a href="/create">Create</a></li>
  <li><a class="hidden-sm hidden-md hidden-lg" href="/readers">Readers</a></li>
  <li><a class="hidden-sm hidden-md hidden-lg" href="/settings">Settings</a></li>
  <li><a class="logout hidden-sm hidden-md hidden-lg" href="">Logout</a></li>
  <!-- Single button -->
  <li id="dropdown-button" class="btn-group hidden-xs">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu" >
      <li><a href="/readers">Readers</a></li>
      <li><a href="/settings">Settings</a></li>
      <li role="separator" class="divider"></li>
      <li><a class="logout" href="">Logout</a></li>
    </ul>
  </li>
{% endblock %}

{% block content %}
	<nav class="pushy pushy-left">
		<ul class="menulist">      
		</ul>
	</nav>

	<div class="site-overlay"></div>

	<div id="idle-overlay" style="display: none;">
		<div class="idle-container">
			<div class="container">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 idle-dialog">
					<p>Are you still using TRAC?</p>
					<div style="display: table; margin: 0 auto;">
					  <button id="idle-yes" class="btn btn-primary btn-md" style="margin-right: 10px;">Yes</button>
					  <button id="idle-no" class="btn btn-default btn-md">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="menu-btn" style="display: inline-block;">
						<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Heat Menu
					</div>
				</div>
			</div>

			<div class="row">
				<h1 id="results-title">Live Results</h1>
				<div id="results">
					<table id="results-table accordion" class="table table-striped table-hover">
					</table>
				</div>
			</div>

			<div class="spinner-container" style="position:relative; top:50px;">
				<div id="spinner"></div>
			</div>
			
			<div id="notifications" class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
					<p class="notification notification-error notification-default" role="alert">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> There is currently no data for this event.
					</p>
					<p class="notification notification-error notification-default2" role="alert">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> No recent events to show.
					</p>
				</div>
			</div>

			<div id="download-container" style="display: table; margin: 0 auto; display: none;">
			  <button id="download" class="btn btn-primary btn-md">Download</button>
			</div>
		</div>
	</div>
{% endblock %}