{% extends  "base.html" %}
{% load staticfiles %}



{% block content %}
<script>
     $(document).ready(function() {
         $("#submit").click(function(){

       // Get the username and password from login form.
       var username=$('input[id=username]').val();
       var password=$('input[id=password]').val();
       alert(username);
       
      $.ajax({
           type: "POST",
           dataType:'json',
           url: "/oauth2/access_token/",
           data: {
               username: username,
               password: password,
               grant_type: 'password',
               client_id: username,
           },
           success: function(data){
            alert(data);
           },
           error: function(data){
           alert(data);
           }
      });
         });
     });
         
    
    
    

       
</script>

<div id="log">  
	  <div id="contentleft">
					
		<form name="tracform" id="myform">
		  <p>
		      <label>Username:</label> 
		      <input type="text" id="username" />
		  </p>
		 <p>
		      <label>Password:</label> 
		      <input  type="password" id="password" />
		  </p>
		     
		          <div class="button-container">
		    <input type="submit" name="" class="validate" id="submit" value="Login" />
	                         </div>
		</form>
		
				
					
					
					
					
				
            </div>
    </div>



{% endblock %}
