{% extends "base_new.html" %}

{% load static %}

<!-- Head -->
{% block stylesheets %}
  <link href="{% static "css/styleNew.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/new/login.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js_scripts %}
  <script src="{% static "js/trac-ajax.js" %}" type="text/javascript"></script>
  <script src="{% static "js/new/login.js" %}" type="text/javascript"></script>
{% endblock %}

<!-- Body -->
{% block nav_items %}
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="http://www.trac-us.com">About</a></li>
  <li><a href="/score">Live Results</a></li>
{% endblock %}


{% block content %}


  <div class="parallax">
  <div class="modal-animate hide">
    <div class="rotate"></div>

</div>
<div id="log">

	  <div id="contentleft">
            <div id="notifications">
        <h6 class="notification notification-critical" role="alert">Some information you entered isn't right.</h6>
    </div>
					<h2> Sign in</h2>
		<form  id="myform" data-parsley-validate >
		  <p>
		      <label>Username:</label> 
		      <input type="text" id="username" required data-parsley-group="block1"/>
		  </p>
		 <p>
		      <label>Password:</label> 
		      <input  type="password" id="password" required data-parsley-group="block1"/>
		  </p>
		     
		          <div class="button-container">
		    <input type="submit" name="" class="validate" id="submit" value="Login" />
	                         </div>
		</form>
		
				
					
					
					
					
				
            </div>
    </div>


{% endblock %}