{% extends "base_new.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static "css/new/main.css" %}" />
<link rel="stylesheet" href="{% static "css/new/score.css" %}" />
<link rel="stylesheet" href="{% static "css/new/create.css" %}" />
{% endblock %}

{% block content %}
<script>
$(document).ready(function(){
  $('body').on('submit', 'form#uform', function(e){
    e.preventDefault();
    var uname =  $('input#uname').val();
    var uemail =  $('input#uemail').val();
    name = escapeString(uname);
    email = escapeString(uemail);
    function escapeString(string){
      var specialChars = { 
      "&": "&amp;",
      "<": "&lt;",
      ">": "&gt;",
      '"': '&quot;',
      "'": '&#39;',
      "/": '&#x2F;'
    };
      string = String(string).replace(/[&<>"'\/]/g, function(s){
        return specialChars[s];
      });
      return string;
    }
    $.ajax({
      type:"POST",
      url:"/api/send_email/",
      data: {
        user: name,
        email: email,
      },
      success: function(data){
      	if(data == 403){
      		alert('Username and Email do not match');
      	}
      	else{
      		alert('email sent');
      	}
      },
      error: function(xhr, errmsg, err){
      	alert('something went wrong');
      }
    });
  });
});
</script>
<div class="container-fluid content">
  <div id="content" class="content">
    <form id="uform" style="margin: 2%;" method="post">
    {% csrf_token %}
      Username: 
      <input type="text" id="uname">
      Email:
      <input type="text" id="uemail">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
{% endblock %}