<!DOCTYPE html>

{% load static %}

<html lang="en" class="">

<head>
  <title>TRAC | Race Timing on Demand</title>
  <meta name="description"  content="TRAC provides timing on demand for road, cross country, and trail races. Never use a stopwatch again. Platform supports iOS, Android, and Web."> 
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  {% block facebook_meta %}
  <meta property="og:image" content="http://trac-us.com/images/shoes-video.jpg">
  <meta property="og:title" content="TRAC | Timing and Racing Around the Clock ">
  <meta property="fb:admins" content="804255640">
  <meta property="og:type"   content="website"> 
  <meta property="og:site_name" content="Timing and Racing Around the Clock">
  <meta property="og:url"    content="http://www.tractiming.com">
  <meta property="og:description" content="TRAC provides timing on demand for road, cross country, and trail races. Supports iOS, Android, and Web."> 
  {% endblock %}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <link rel="canonical" href="http://www.tractiming.com">
  <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
  <!-- Twitter Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- Vendor CSS -->
  <link href="{% static "css/parsley.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/switchery.min.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/new/main.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/new/style.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/colorbox.css" %}" rel="stylesheet" type="text/css">
  <link href="{% static "css/bootstrap-datepicker3.min.css" %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static "css/new/swiper.min.css" %}">
  <style>
    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    button#submit {
      cursor: pointer !important;
    }
    div.datepicker {
      color:black;

    }
    
  </style>

  <!-- Vendor scripts -->
  <script src="{% static "js/new/swiper.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/jquery.scrollTo.js" %}" type="text/javascript"></script>  
  <script src="{% static "js/parsley.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/switchery.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/new/jquery.colorbox.js" %}" type="text/javascript"></script>
  <script src="{% static "js/bowtruss.js" %}" type="text/javascript"></script>
  <script src="{% static "js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
  <script type="text/javascript" src="{% static "js/new/index.js" %}"></script>
   <script src="https://checkout.stripe.com/checkout.js"></script>
  
<!--colorbox-->
<link rel="stylesheet" href="static/css/colorbox.css" />  
<script src="static/js/new/jquery.colorbox.js"></script>
<script>
  $(document).ready(function(){
    //$(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390}); 
    $(".youtube").colorbox({iframe:true, width:"90%", height:"95%"}); 
    $(".iframe").colorbox({iframe:true, width:"50%", height:"65%"}); 
  });
</script>
  
  
  <!-- Google Analytics -->  
 <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57985584-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <!--Amplitude Analytics -->
  <script type="text/javascript">
    (function(t,e){var n=t.amplitude||{};var r=e.createElement("script");r.type="text/javascript";
    r.async=true;r.src="https://d24n15hnbwhuhn.cloudfront.net/libs/amplitude-2.8.0-min.gz.js";
    r.onload=function(){t.amplitude.runQueuedFunctions()};var s=e.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(r,s);var i=function(){this._q=[];return this};function o(t){
    i.prototype[t]=function(){this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
    return this}}var a=["add","append","set","setOnce","unset"];for(var u=0;u<a.length;u++){o(a[u]);
    }n.Identify=i;n._q=[];function c(t){n[t]=function(){n._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
    }}var l=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify"];
    for(var p=0;p<l.length;p++){c(l[p])}t.amplitude=n})(window,document);

    amplitude.init("682ef0da1e09065f2b2359619f592ded");
  </script>
  <style>
  #subcontainer {
  }
#image {
}
#subtext {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  left: 7%;
  top: 25%;
}
#grad {
  background: rgba(52,119,168,1)); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(52,119,168,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(52,119,168,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(52,119,168,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(52,119,168,1)); /*Standard*/
}

  </style>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" id="bowtruss-header">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="logo" class="navbar-brand" href="/">
          <img class="footer-img" src={% static "img/trac_small.gif" %} alt="TRAC" aria-hidden="true" >
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/" onclick="amplitude.logEvent('home');">Home</a></li>
            <li><a href="/#bg3" onclick="amplitude.logEvent('about');">About</a></li>
            <li><a href="https://blog.tracchicago.com" target="_blank" onclick="amplitude.logEvent('blog');">Blog</a></li>
            <li><a href="/#bg5" onclick="amplitude.logEvent('team');">Team</a></li>
            <li><a href="/score/" onclick="amplitude.logEvent('score');">Results</a></li>
            <li><a class="hidden-lg hidden-md"href="/login" class="scrollto" rel="bg6">Login</a></li>
            <li class="hidden-sm hidden-xs"><button class="btn btn-warning" style="margin-top:20%; margin-left:5%" onclick="location.href='/login'; amplitude.logEvent('toLogin');">Log in</button></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


  <div class="parallax" id="top">
    <div id="bg4">
      <div class="text" style="margin-top:5%;"><br>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12">
              <br><br>
            <h2>Product</h2><br>
          </div>
        </div>

        <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
             <img src={% static "img/DSC_0918.JPG" %} style="width:100%">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-5">
               <p style="text-align:left" class="hidden-xs">
                &bull; Sends results to you immediately (as the race is running)<br>
                &bull; Works in all weather (even snowstorms!)<br>
                &bull; Portable, less than ten pounds<br>
                &bull; Controlled by a simple smartphone app<br>
                &bull; Cost effective, less than half the price of a standard timing system<br>
                &bull; No extra computers needed<br>
                &bull; Works with other systems easily<br>
                &bull; Setup everything in less than 2 minutes<br>
                &bull; Battery life for more than 6 hours<br>
                &bull; <a href="/product#bg2" onclick="amplitude.logEvent('toDemo');">See the details</a>
            </p>
            <p style="text-align:left" class="hidden-lg hidden-md hidden-sm">
                &bull; Sends results to you immediately (as the race is running)<br>
                &bull; Works in all weather (even snowstorms!)<br>
                &bull; Controlled by a simple smartphone app<br>
                &bull; <a href="/product#bg2" onclick="amplitude.logEvent('toDemo');">See the details</a>
            </p>
            </div>
        </div>
        <div class="row" style="padding-top:5%">
          <div class="col-lg-6 col-lg-offset-3 col-md-5 col-sm-8 col-xs-8 col-xs-offset-2">
             <a href="https://blog.tracchicago.com" target="_blank" onclick="amplitude.logEvent('toDemo');">Checkout the product in action</a>
          </div>

        </div>
      </div>
      

         

      
      </div>
    </div>
    <div id="bg2">  
     
    <div class="content">
        <h2>Practice</h2>
        <br>
          <br>
        <div class="pictures hidden-xs">
        <div class="left">
          <img src={% static "img/runningguy.png" %} height="200px">
        </div>
        <div class="wifione hidden-xs">
          <img src={% static "img/wifi.png" %} height="100px">
        </div>
        <div class="mid">
          
          <img src={% static "img/cloud.png" %} height="150px">
            
        </div>
        <div class="wifitwo hidden-xs">
          <img src={% static "img/wifi.png" %} height="100px">
        </div>
        <div class="right">
          <img src={% static "img/phone.png" %} height="150px">
        </div>
        </div>
        <div class="text hidden-xs">
          <div class="left">
            <p>
             Run a practice like you normally would. Set your sensor down at the place where you would normally take splits.
            </p>
          </div>
          <div class="mid">
            <p>As soon as a runner passes the sensor, results are immediately streamed to the cloud.</p>
          </div>
          <div class="right">
            <p>You and any of your assistant coaches can view results as they instantly appear everyone's phone.</p>
          </div>
           
        </div>
        <div class="row hidden-lg hidden-md hidden-sm">
          <img src={% static "img/runningguy.png" %} height="150px">
          <p>
              Run a practice like you normally would. Set your sensor down at the place where you would normally take splits.
            </p>
          <div class="col-4-xs">
          </div>
          <div class="col-4-xs">
            <img src={% static "img/cloud.png" %} height="100px">
             <p>As soon as a runner passes the sensor, results are immediately streamed to the cloud.</p>
          </div>
          <div class="col-4-xs">
            <img src={% static "img/phone.png" %} height="150px">
             <p>You and any of your assistant coaches can view results as they instantly appear everyone's phone.</p>
          </div>
        </div>

      <!--  <br><br><br><br><br>
        &#8226; Eliminates the need for clipboards and stopwatches
        <br><br>
          &#8226; Hardware is lightweight (5lbs) and rechargable
          <br><br>
           &#8226; Wearables attach to shoes and never need to be charged-->
      </div>
    </div>



    <div id="bg2" style="background:#222 !important;">
            <div class="content">
        <h2>Races & XC Meets</h2>
        <br>
          <br>
        <div class="pictures hidden-xs">
        <div class="left">
          <img src={% static "img/box-01.png" %} height="200px">
        </div>
        <div class="wifione hidden-xs">
          <img src={% static "img/dashes-01.png" %} height="100px">
        </div>
        <div class="mid">
          
          <img src={% static "img/phone.png" %} height="150px">
            
        </div>
        <div class="wifitwo hidden-xs">
          <img src={% static "img/dashes-01.png" %} height="100px">
        </div>
        <div class="right">
          <img src={% static "img/trophy-01.png" %} height="150px">
        </div>
        </div>
        <div class="text hidden-xs">
          <div class="left">
            <p>
              Order everything necessary in preparation for race day--sensor & bibs. We ship it to you a few days before.
            </p>
          </div>
          <div class="mid">
            <p>Run the entire system off your smartphone. No messy cables or equipment.</p>
          </div>
          <div class="right">
            <p>Results are streamed live to the web and immediately available for all participants.</p>
          </div>
           
        </div>
        <div class="row hidden-lg hidden-md hidden-sm">
          <img src={% static "img/box-01.png" %} height="200px">
          <p>
              Order everything necessary in preparation for race day. We ship it to you a few days before.
            </p>
          <div class="col-4-xs">
          </div>
          <div class="col-4-xs">
            <img src={% static "img/phone.png" %} height="150px">
            <p>Run the entire system off your smartphone. No messy cables or equipment.</p>
          </div>
          <div class="col-4-xs">
            <img src={% static "img/trophy-01.png" %} height="150px">
            <p>Results are streamed live to the web and immediately available for all participants.</p>
          </div>
        </div>

      <!--  <br><br><br><br><br>
        &#8226; Eliminates the need for clipboards and stopwatches
        <br><br>
          &#8226; Hardware is lightweight (5lbs) and rechargable
          <br><br>
           &#8226; Wearables attach to shoes and never need to be charged-->
      </div>
    </div>

    <div id="bg2">
          <div class="content">
        <h2>Software as a Service</h2>
        <br>
          <br>
        <div class="pictures hidden-xs">
          <div class="row">
            <img src={% static "img/cloud.png" %} height="100px" style="padding-right:10%">
            <img src={% static "img/wifi.png" %} height="100px" style="padding-right:10%">
            <img src={% static "img/trophy-01.png" %} height="150px">
          </div>

        </div>
        <div class="text hidden-xs">
          <div class="row">
            <div class="col-lg-3 col-lg-offset-2">
              <p>Push your results straight to our cloud platform. We parse the raw times and ID numbers and compute results immediately.</p>
            </div>
            <div class="col-lg-3">
              <p>Unofficial results can be instantly pushed live around the world. Use our platform to push text or email notifications when users pass specific checkpoints.</p>
            </div>
            <div class="col-lg-3">
              <p> View results on our mobile web platform, or just share them internally amongst your team. Finalize results, publish them, and give out awards!</p>
            </div>
            </div>
           
        </div>
        <div class="row hidden-lg hidden-md hidden-sm">
          <img src={% static "img/cloud.png" %} height="100px">
            <p>Push your results straight to our cloud platform. We parse the raw times and ID numbers and compute results immediately.</p>
          <div class="col-4-xs">
          </div>
          <div class="col-4-xs">
            <img src={% static "img/wifi.png" %} height="150px">
            <p>Unofficial results can be instantly pushed live around the world. Use our platform to push text or email notifications when users pass specific checkpoints.</p>
          </div>
          <div class="col-4-xs">
            <img src={% static "img/trophy-01.png" %} height="150px">
             <p> View results on our mobile web platform, or just share them internally amongst your team. Finalize results, publish them, and give out awards!</p>
          </div>
        </div>

      <!--  <br><br><br><br><br>
        &#8226; Eliminates the need for clipboards and stopwatches
        <br><br>
          &#8226; Hardware is lightweight (5lbs) and rechargable
          <br><br>
           &#8226; Wearables attach to shoes and never need to be charged-->
      </div>
    </div>

<!--Footer Addition -->
 <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-6 footer-item">
          <a href="/">
           <img class="footer-img" src= {% static "img/trac_small.gif" %} alt="TRAC" aria-hidden="true" >
          </a>
        </div>

        <div class="col-md-3 col-sm-6 footer-item">
          <div class="internal">
            <a href="https://www.facebook.com/timingracing" target="_blank" onclick="amplitude.logEvent('toFB');"><img src={% static "img/facebook.png" %}></a>
            <a href="https://youtu.be/Tk-7w_dl9aY" target="_blank"><img src={% static "img/youtube.png" %} width="50px"></a>
            <a href="https://twitter.com/TRAC_Chicago"  target="_blank" onclick="amplitude.logEvent('toTwitter');"><img src= {% static "img/twitter2.png" %} style="width:56px"></a>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 hidden-xs footer-item">
          <div class="external">
            <ul>
              <li><a href="/">About</a></li>
              <li><a href="/faqs/" onclick="amplitude.logEvent('toFAQ');">Frequently Asked Questions</a></li>
              <li><a href="/privacy/">Privacy</a> <a style="cursor:pointer">&</a> <a href="/terms/">Terms</a></li>
              <li><a href="mailto:info@tractiming.com" onclick="amplitude.logEvent('mailto');">Contact us</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 footer-item">
          <address style="color:black">
            Timing and Racing Around the Clock<br>
            2311 Campus Drive<br>
            Evanston, IL 60208<br><br>
          </address>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
  
    $(document).ready(function() {
      bowtrussHeader();
  Footer();
    });
  </script>
  <script>
/*!function ($) {
  $(document).ready(function() {
    /* fancy background video player deally */    
  /*  $('.video-background').videobackground({
      videoSource: ['video/trac.mov', 'video/mov'], 
      poster: '',
      resize: false,
      loop: true,
      autoplay: true,

      preloadCallback: function() {
      },
      loadedCallback: function() {
        $(this).videobackground('mute');
      }
    });
  
    /* physical controls */   
/*    $("#target").click(function() {
      $('.video-background').videobackground('play');
      $('#intro-copy').addClass('fadeintro');
      $('.video-background').toggleClass('visible')
      $('#top').toggleClass('top-hide');
      $('#banner').toggleClass('lower-opacity'); 
    }); 
*/
    /* controlling the video with page scroll triggers */
 /*   var wasUserPlaying = false;
      $("div#bg3").waypoint(function (direction) { 
          if (direction == 'down' ) {
            if( !$('.video-background video').get(0).paused ) {
              $('.video-background video').get(0).pause();
              wasUserPlaying = true;
            } else {
              wasUserPlaying = false;
            }
          }
          else if(direction === 'up' && wasUserPlaying ) {
        $('.video-background video').get(0).play();
          }
    }, { offset: 200 });

$("video").bind("ended", function() {
   alert("I'm done!");
});
    
    

    
    
  });
}(window.jQuery);
*/
</script>
    <!-- Google Code for product Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 878983580;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "IDi5CLul8GcQnPOQowM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/878983580/?label=IDi5CLul8GcQnPOQowM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>


  </body>
</html>
