{% extends "base_new.html" %}

{% load static %}

<!-- Head -->
{% block stylesheets %}
	
{% endblock %}

{% block js_scripts %}
	<script src="{% static "js/new/readers.js" %}" type="text/javascript"></script>
{% endblock %}

<!-- Body -->
{% block nav-items %}
  <li><a href="/home">Home</a></li>
  <li><a href="/liveview">Live View</a></li>
  <li><a href="/create">Create</a></li>
  <li><a href="/settings">Race Management</a></li>
  <li><a class="hidden-sm hidden-md hidden-lg" href="/readers">Readers</a></li>
  <li><a class="hidden-sm hidden-md hidden-lg" href="/account_settings">Settings</a></li>
  <li><a class="logout hidden-sm hidden-md hidden-lg" href="">Logout</a></li>
  <!-- Single button -->
  <li id="dropdown-button" class="btn-group hidden-xs">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </button>
    <ul class="dropdown-menu" >
      <li><a href="/readers">Readers</a></li>
      <li><a href="/account_settings">Settings</a></li>
      <li role="separator" class="divider"></li>
      <li><a class="logout" href="">Logout</a></li>
    </ul>
  </li>
{% endblock %}

{% block content %}
	<div id="content" class="container-fluid">
		<div class="container">

			<div id="create-modal" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Register Reader</h4>
						</div>
						<div class="modal-body">

							<form method="POST" id="create-form" name="create-form" data-parsley-validate>
								<div class="form-group">
							    <label for="create-name" class="sr-only">Reader Name</label>
							    <input type="text" id="create-name" name="create-name" class="form-control" placeholder="Reader name" required autofocus data-parsley-group="block1">
							    <br>

							    <label for="create-id-str" class="sr-only">Reader ID</label>
							    <input type="text" id="create-id-str" name="create-id-str" class="form-control" placeholder="Reader ID" required data-parsley-group="block1">
							    <br>

							    <div style="display: table; margin: 0 auto;">
							      <button type="submit" id="create-submit" class="btn btn-primary" style="margin-right:10px;">Create Reader</button>
							    </div>
							  </div>
							</form>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>

			<div id="edit-modal" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Edit Reader</h4>
						</div>
						<div class="modal-body">

							<form method="POST" id="edit-form" name="edit-form" data-parsley-validate>
								<div class="form-group">
									<input type="hidden" name="edit-id" id="edit-id" value="" />

							    <label for="edit-name" class="sr-only">Reader Name</label>
							    <input type="text" id="edit-name" name="edit-name" class="form-control" placeholder="Reader name" required autofocus data-parsley-group="block1">
							    <br>

							    <label for="edit-id-str" class="sr-only">Reader ID</label>
							    <input type="text" id="edit-id-str" name="edit-id-str" class="form-control" placeholder="Reader ID" required data-parsley-group="block1">
							    <br>

							    <div style="display: table; margin: 0 auto;">
							      <button type="submit" id="edit-submit" class="btn btn-primary" style="margin-right:10px;">Update Reader</button>
							      <button type="submit" id="delete-submit" class="btn btn-danger">Delete Reader</button>
							    </div>
							  </div>
							</form>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>

			<div id="delete-confirm-modal" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Confirm Delete</h4>
						</div>
						<div class="modal-body">
							<div style="display: table; margin: 0 auto;">
								<p>Are you sure?</p>
								<button type="button" id="delete-yes" class="btn btn-danger" style="margin-right:10px;">Yes</button>
								<button type="button" id="delete-no" class="btn btn-default" autofocus>No</button>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>

			<div class="row">
				<h1 id="results-title">Readers</h1>
				<div id="notifications" class="row">
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
						<p class="notification notification-error no-results" role="alert">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> You don't have any registered readers.
						</p>
						<p class="notification notification-error form-error" role="alert">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Some information you entered isn't right.
						</p>
						<p class="notification notification-error server-error" role="alert">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Oops. Something went wrong. Please try again.
						</p>
						<p class="notification notification-success register-success" role="alert">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> You have successfully registered a reader!
						</p>
						<p class="notification notification-success update-success" role="alert">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> You have successfully updated a reader!
						</p>
						<p class="notification notification-success delete-success" role="alert">
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> You have successfully deleted a reader!
						</p>
					</div>
				</div>
				<div class="row">
					<div id="results" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
						<table id="results-table" class="table tablesorter table-striped table-hover" style="text-align:center;">
						</table>
					</div>
				</div>
				<div class="row">
					<div style="display: table; margin: 0 auto;">
						<button type="button" id="add" class="btn btn-primary" data-toggle="modal" data-target="#create-modal">Add New Reader</button>
					</div>
				</div>
			</div>

			<div class="spinner-container" style="position:relative; top:50px;">
				<div id="spinner"></div>
			</div>
			
		</div>
	</div>
{% endblock %}