{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script>

	if (sessionStorage.usertype == 'athlete'){
			    location.href="/home.html";
		}
	

</script>
<script>
//ajax for reader information
$(document).ready(function() {
	$(".modal-animate").show();
		loadreader();
        $("#myform").on('click','#submit', function(e){
            e.preventDefault();
	    $(".modal-animate").show();


	            // var title=$('input[id=title]').val();
	           var name=$('input[id=readername]').val();
		      var idstr=$('input[id=readernum]').val();
		    

	      $.ajax({
           type: "POST",
           dataType:'json',
           url: "/api/readers/",
	   headers: {Authorization: "Bearer " + sessionStorage.access_token},
           data: {
               name: name,
               id_str:idstr,
               
           },
           // Login was successful.
           success: function(data) {
			  
			      
		    $(".modal-animate").hide();
		    $("h6.notification.notification-critical").hide();
		    $("h6.notification.notification-success").show();
		    $("#myform")[0].reset();
			   loadreader();
           },

           // create athlete failed.
           error: function(xhr, errmsg, err) {
	    $(".modal-animate").hide();
	    $("h6.notification.notification-success").hide();
               $("h6.notification.notification-critical").show();
           }
           
      });
               
            
        });
    });


</script>
	    <script>


$("body").on('click', 'tr',function(){
	//alert($(this).html());
	var value = $(this).html();
	$("input#delete").show();
	$("input#update").show();
	$("div.button-container-two").show();
	$("input#create").show();
	$("p#idnumber").show();
	$("input#submit").hide();
	$(value).each(function(index){
		//alert( $(this).html() );
		console.log( index+ ":"+ $(this).html());
		if (index ==0)
		{
			var input =$('input#idnumber');
			input.val($(this).html() );
		}
		else if (index ==1)
		{
			var input =$('input#readername');
			input.val($(this).html() );
			}
		else if (index ==2)
		{
			var input =$('input#readernum');
			input.val($(this).html() );
			}

	});
	
	

	
	
	});
	
	$("body").on('click', 'input#create',function(e){
	//alert($(this).html());
	  e.preventDefault();
	  $("#myform")[0].reset();
	var value = $(this).html();
	$("input#delete").hide();
	$("input#update").hide();
	$("input#submit").show();
	$("p#idnumber").hide();
	$("input#create").hide();

	});



	$("body").on('click', 'input#delete',function(f){
	//alert($(this).html());
	  f.preventDefault();
	  $("h6.notification.notification-warning").show();
	  $("h6.notification.notification-critical").hide();
	  $("h6.notification.delete-success").hide();
	  		    $("h6.notification.notification-critical").hide();
		    $("h6.notification.notification-success").hide();
		     $("h6.notification.update-success").hide();
	  
	   $("body").on('click','button',function(event){
	console.log("On:", event.target);
	var value = $(this).html();
	if (value == 'Yes'){ $(".modal-animate").show();
	  
	 var id=$('input[id=idnumber]').val();
	//alert(id);
	
		//alert(filter);
	      $.ajax({
           type: "DELETE",
           dataType:'json',
           url: "/api/readers/"+id,
	   headers: {Authorization: "Bearer " + sessionStorage.access_token},
         
           // Login was successful.
           success: function(data) {
		    //hide spinner, success modal, and reset form
		    $(".modal-animate").hide();
		    $("h6.notification.notification-critical").hide();
		    $("h6.notification.notification-success").hide();
		     $("h6.notification.update-success").hide();
		    $("h6.notification.delete-success").show();
		     $("h6.notification.notification-warning").hide();
		    $("#myform")[0].reset();
		    	$("input#delete").hide();
	$("input#update").hide();
	$("input#submit").show();
	$("p#idnumber").hide();
	$("input#create").hide();
		    loadreader();
                   
           },

           // Login request failed.
           error: function(xhr, errmsg, err) {
	    //hide spinner, show error modal
	    $(".modal-animate").hide();
	    $("h6.notification.notification-success").hide();
	     $("h6.notification.notification-warning").hide();
	      $("h6.notification.update-success").hide();
		    $("h6.notification.delete-success").hide();
               $("h6.notification.notification-critical").show();
           }
           
      });
      }
	else if(value =='Cancel'){
		$(".modal-animate").hide();
	    $("h6.notification.notification-success").hide();
	    $("h6.notification.notification-warning").hide();
              
		}
	
	 });
	  
	  
	
	});
	
	
		$("body").on('click', 'input#update',function(f){
	//alert($(this).html());
	  f.preventDefault();
	   $(".modal-animate").show();
	 var id=$('input[id=idnumber]').val();
	           var name=$('input[id=readername]').val();
		      var idstr=$('input[id=readernum]').val();

	
		//alert(filter);
	      $.ajax({
           type: "PUT",
           dataType:'json',
           url: "/api/readers/"+id,
	   headers: {Authorization: "Bearer " + sessionStorage.access_token},
	   data: {
               name: name,
               id_str:idstr,
               
           },

           // Login was successful.
           success: function(data) {
		    //hide spinner, success modal, and reset form
		    $(".modal-animate").hide();
		    $("h6.notification.notification-critical").hide();
		    $("h6.notification.notification-success").hide();
		    $("h6.notification.delete-success").hide();
		    $("h6.notification.update-success").show();
		    $("#myform")[0].reset();
		    	$("input#delete").hide();
	$("input#update").hide();
	$("input#submit").show();
	$("p#idnumber").hide();
	$("input#create").hide();
		    loadreader();
                   
           },

           // Login request failed.
           error: function(xhr, errmsg, err) {
	    //hide spinner, show error modal
	    $(".modal-animate").hide();
	    $("h6.notification.notification-success").hide();
	     $("h6.notification.notification-warning").hide();
	      $("h6.notification.update-success").hide();
		    $("h6.notification.delete-success").hide();
               $("h6.notification.notification-critical").show();
           }
           
      });
	
	});
	
	
//function to load reader info
function loadreader(){
			 $('#results').empty();
		  //alert(path);
		  //alert(path);
		   $.ajax({
                     url: "/api/readers/",
		     headers: {Authorization: "Bearer " + sessionStorage.access_token},
                    //force to handle it as text
                    dataType: "text",
                    success: function(data) {
                        //alert(data);
                        //data downloaded so we call parseJSON function 
                        //and pass downloaded data
                        
                        var json = $.parseJSON(data);
                       //alert(json[0].id_str)
                       
                       if (json == "") {
			  $(".outer").hide();
			  $(".modal-animate").hide();
			  $('#results').empty();
			  
			  
			    $("h6.notification.notification-default").show();

			}
			// show name and date, dont show message, but show notificatin
			else {
                       $(".outer").show();
                        $("h6.notification.notification-default").hide();
                       
                       for (var ii=0;json.length;ii++){
						   //alert(ii);
						   id = json[ii].id;
						   name = json[ii].name;
						   id_str = json[ii].id_str;
						  if (ii==0) {
			    $('#results').append('<tr><th>ID</th><th>Name</th><th>ID Number</th></tr>');
			    $('#results').append('<tr class="odd"><td>'+id+'</td><td>'+name+'</td><td>'+id_str+'</td></tr>');
			    //alert(name);
			  }
			  else if((ii)%2 ==0) {
			    $('#results').append('<tr class="odd"><td>'+id+'</td><td>'+name+'</td><td>'+id_str+'</td></tr>');
			  }
			  else{
			    $('#results').append('<tr><td>'+id+'</td><td>'+name+'</td><td>'+id_str+'</td></tr>');
			    //alert(name);
			  }
						   }
						   $(".modal-animate").hide();
					   }

			}
			
			
			
                    });
		   
}
    
	    </script>
	
	


<div class="modal-animate hide">
    <div class="rotate"></div>

</div>

    <div id="create">  
     <h2>Readers</h2>

	  <div id="notifications">
        <h6 class="notification notification-critical" role="alert">Some information you entered isn't right.</h6>
	<h6 class="notification notification-success" role="alert">You have successfully registered a reader!</h6>
	<h6 class="notification update-success" role="alert">You have successfully updated a reader!</h6>
	<h6 class="notification delete-success" role="alert">You have successfully deleted a reader!</h6>
	<h6 class="notification notification-warning" role="alert">Are you sure? <div class="container" id="screen-selector"><button href="#" type="button" id="warning-yes">Yes</button><button id="warning-no" href="#" type="button" style="float:right">Cancel</button></div></h6>
    </div>
	  
    <div id="contentleft">
					
		<form name="tracform"  id="myform" method="POST" data-parsley-validate>
			<div class="button-container-two">
		    <input type="submit" name="" class="validate" id="create" value="+ Create New" />
		    </div>
		    <p id="idnumber">
		      
		      <input type="hidden" id="idnumber" value="" placeholder="" required data-parsley-group="block1" readonly/>
		  </p>
		   <p>
		      <label for="">Reader Name:</label> 
		      <input data-progression="" type="text" data-helper="" id="readername" value="" placeholder="" required data-parsley-group="block1" />
		  </p>
		   <p>
		      <label for="">Reader ID:</label> 
		      <input data-progression="" type="text" data-helper="" id="readernum" value="" placeholder="" required data-parsley-group="block1" />
		  </p>
		
		     
		     
		          <div class="button-container">
			<input type="submit" name="" class="validate" id="delete" value="Delete" />
		    <input type="submit" name="" class="validate" id="submit" value="Save" />
		    <input type="submit" name="" class="validate" id="update" value="Update" />
	                         </div>
		</form>
				
					
					
					
					
				
    </div>
                   <div id="contentright">
			      <div class ="outer">
      <div class="inner">
       <table id="results" style="width:100%"></table>
       </div>
       </div>
       
        <div id="notifications">
        <h6 class="notification notification-default" role="alert">There are currently no workouts to show.</h6>
    </div>
              </div>
    
    
     
      </div>
    {% endblock %} 
    
    
    
</html>

