<!DOCTYPE html>



    
{% load static %}

<html lang="en" class="">
    
<head>
    <meta name="description"  content="A Chicago based startup focusing on simplifying the track and field experience." /> 

    {% block facebook_meta %}
    <meta property="og:image" content="http://trac-us.com/images/shoes-video.jpg"/>
    <meta property="og:title" content="TRAC | Timing and Racing Around the Clock "/>
    <meta property="fb:admins" content="804255640" />
    <meta property="og:type"   content="website" /> 
     <meta property="og:site_name" content="Timing and Racing Around the Clock"/>
    <meta property="og:url"    content="http://www.trac-us.com" /> 
    <meta property="og:description" content="A Chicago based startup focusing on simplifying the track and field experience." /> 
    {% endblock %}
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="canonical" href="http://www.trac-us.com"/>
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="all" 
          href="{% static "css/styleNew.css" %}" />
    <link rel="stylesheet" href="{% static "css/login_style.css" %}" />
     <link rel='stylesheet' href="{% static "css/fullcalendar.css" %}" />
     	<link href="{% static "css/progression.min.css" %}" rel='stylesheet' type='text/css'>
             <link type="text/css" rel="stylesheet" href="{% static "css/jquery.dropdown.css" %}" />

    {% block js_scripts %}
    <script type="text/javascript" src="{% static "js/jquery-1.7.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.scrollorama.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.scrollTo.js" %}"></script>
    <script src="{% static "js/trac-ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dropdown.js" %}"></script>
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/fullcalendar.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.serializeJSON.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/parsley.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/progression.min.js" %}"></script

<!--Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57985584-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
    <!--<script src="{% static "js/jquery-2.1.1.js" %}"></script>-->
    {% endblock %}

    <title>
        {% block title %}
        Timing and Racing Around the Clock | Chicago
        {% endblock %}
    </title>

    {% block extra_head %}
    {% endblock %}
</head>

<body>
  <div id="bowtruss-header" class="container">
    <a href="#" id="pull"></a>
    <ul>

      <li>
        <a href="/" class="scrollto logo" title="trac">trac</a>
      </li>
       
      <li></li>
      <li></li>
      <li></li>

      <li>
        
      </li>
      
               <li>
        <a href="/login.html" class="scrollto" rel="bg2">Login</a>
        </li>

      <li>
        <a href="/register.html" class="scrollto" rel="bg3">Register</a>
      </li>
     
      <li>
        <a href="http://www.trac-us.com" class="scrollto" rel="bg3">About</a>
      </li>

      <li>
        </li>

    </ul>

  </div>
  <div class="parallax">
    <script>
           $(document).ready(function() {
  $("#myform").on('submit', function(e){
            e.preventDefault();
	    $(".modal-animate").show();
            var form = $(this);

            form.parsley().validate();

	    
	    
            if (form.parsley().isValid()){
       // Get the username and password from registration form.
       var username=$('input[id=username]').val();
       var password=$('input[id=password]').val();
       var password_verify=$('input[id=password1]').val();
       var user_type=$('input[id=utype]:checked').val();
       //alert(user_type);
       //event.preventDefault();
       
       if (password == password_verify) {
                 $.ajax({
           type: "POST",
           url: "/api/register/",
           data: {
               username: username,
               password: password,
               user_type: user_type,
           },
          
           // Registration was successful.
           success: function(data) {
                   $(".modal-animate").hide();
		    $("h6.notification.notification-critical").hide();
                    $("h6.notification.notification-critical2").hide();
		    $("h6.notification.notification-success").show();
		    $("#myform")[0].reset();
           },

           // Registration failed.
           error: function(xhr, errmsg, err) {
               //hide spinner, show error modal
	    $(".modal-animate").hide();
	    $("h6.notification.notification-success").hide();
            $("h6.notification.notification-critical2").hide();
               $("h6.notification.notification-critical").show();
           }
       });
       
       }
       
       else
       {
        $(".modal-animate").hide();
        $("h6.notification.notification-success").hide();
        $("h6.notification.notification-critical").hide();
        $("h6.notification.notification-critical2").show();
       }
      

       return false;
    
            }
   });
});

</script>
    <div id="regi">
        
	  <div id="contentleft">
					<h2> Register</h2>
    <div id="notifications">
        <h6 class="notification notification-critical" role="alert">Some information you entered isn't right.</h6>
        <h6 class="notification notification-critical2" role="alert">Passwords do not match.</h6>
	<h6 class="notification notification-success" role="alert">You have successfully created a username</h6>
    </div>
                                        
		<form name="tracform" id="myform" data-parsley-validate>
		  <p>
		      <label>Username:</label> 
		      <input type="text" id="username" required data-parsley-group="block1"/>
		  </p>
		 <p>
		      <label>Password:</label> 
		      <input  type="password" id="password" required data-parsley-group="block1"/>
		  </p>
                  <p>
		      <label>Confirm Password:</label> 
		      <input  type="password" id="password1" required data-parsley-group="block1"/>
		  </p>
                  <p>
                    <input type="radio" name="utype" id="utype" value="athlete">&nbsp&nbsp Athlete
               <br>
                    <input type="radio" name="utype" id="utype" value="coach">&nbsp&nbsp Coach
                  </p>
		     
		          <div class="button-container">
		    <input type="submit" name="" class="validate" id="submit" value="Login" />
	                         </div>
		</form>
		
				
					
					
					
					
				
            </div>
    </div>

<!--Footer Addition -->
 <div id="footer2">
    <div class="row">

      <div class="left">
        <img class="footer-img" src={% static "img/trac_small.gif" %} alt="TRAC" aria-hidden="true" >
       
      </div>
      <div class="col-md-3">
              
        <ul class="list-reset">

<a href="https://www.facebook.com/timingracing"><img src={% static "img/facebook.png" %}></a>
           <a href="http://youtu.be/9OxhM_fiHWo"><img src={% static "img/youtube.png" %} width="50px"></a>
              <a href="https://angel.co/timing-and-racing-around-the-clock"><img src={% static "img/angellist.png" %}></a>
       </ul>
      </div>
      <div class="col-md-3">
                <ul class="list-reset">
                    <li><a href="/#bg3" class="scrollto" rel="bg3">About</a></li>
                    <li><a href="/#bg4" class="scrollto" rel="bg4">Frequently Asked Questions</a></li>
          <li><a href="mailto:info@trac-us.com">Contact us</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        
        <address>
          Timing and Racing Around the Clock<br>
          1871<br>
          222 W. Merchandise Mart Plaza<br>
          Chicago, IL 60654<br><br>
        </address>
      </div>

    </div>

    
</body>
</html>
