{% extends  "base.html" %}
{% load staticfiles %}



{% block content %}

 <div id="regi">
        
	  <div id="contentleft">
					<h2> Register</h2>
		<form name="tracform" id="myform">
		  <p>
		      <label>Username:</label> 
		      <input type="text" id="username" />
		  </p>
		 <p>
		      <label>Password:</label> 
		      <input  type="password" id="password" />
		  </p>
                  <p>
		      <label>Confirm Password:</label> 
		      <input  type="password" id="password" />
		  </p>
                  <p>
                    <input type="radio" name="utype" id="utype" value="athlete">Athlete
               <br>
                    <input type="radio" name="utype" id="utype" value="coach">Coach
                  </p>
		     
		          <div class="button-container">
		    <input type="submit" name="" class="validate" id="submit" value="Login" />
	                         </div>
		</form>
		
				
					
					
					
					
				
            </div>
    </div>



{% endblock %}

    
</html>