{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
   <script>
	$(document).ready(function(){
	if (sessionStorage.usertype == 'athlete'){
		$("form#coachform").hide();
		load();
		}
		//if a coach
	else {
		$("form#myform").hide();
		loadtags();}
	});
	</script>
<script>
//coaches jquery to call athletes and idnumbers
$(document).ready(function() {
		//load();

        $("#coachform").on('submit', function(e){
            e.preventDefault();
	    $(".modal-animate").show();
            var form = $(this);

            form.parsley().validate();

	    
	    
            if (form.parsley().isValid()){
	            // var title=$('input[id=title]').val();
	           var first=$('input[id=first]').val();
	            var last=$('input[id=last]').val();  
		      var id_number=$('input[id=number]').val();
		    

	      $.ajax({
           type: "POST",
           dataType:'json',
           invokedata:{data1:id_number,},
           url: "/api/athletes/",
	   headers: {Authorization: "Bearer " + sessionStorage.access_token},
           data: {
               first_name: first,
               last_name:last,
               username:first+""+last,
           },
           // Login was successful.
           success: function(data) {
			   var userid = data.id;
			   var id_number = this.invokedata.data1;
			   //alert(id_number);
			   $.ajax({
           type: "POST",
           dataType:'json',
           url: "/api/tags/",
	   headers: {Authorization: "Bearer " + sessionStorage.access_token},
           data: {
              id_str:id_number,
              user:userid,
               
           },
           // create athlete
           success: function(data) {

		    $(".modal-animate").hide();
		    $("h6.notification.notification-critical").hide();
		    $("h6.notification.notification-success").show();
		    $("#coachform")[0].reset();
		    //load();
			   },
			   error:function(xhr,errmsg,err){
				   //created the username but not the tag to user
				    $(".modal-animate").hide();
	    $("h6.notification.notification-success").hide();
               $("h6.notification.notification-critical").show();
				   }
			   
			   });
			   
			   
           },

           // create athlete failed.
           error: function(xhr, errmsg, err) {
	    $(".modal-animate").hide();
	    $("h6.notification.notification-success").hide();
               $("h6.notification.notification-critical").show();
           }
           
      });
               
            }
        });
    });


</script>

	<script>
		//for athlete load their personal tags
    $(document).ready(function() {
		//loadtags();
        $("#myform").on('submit', function(e){
            e.preventDefault();
	    $(".modal-animate").show();
            var form = $(this);

            form.parsley().validate();

	    
	    
            if (form.parsley().isValid()){
	            // var title=$('input[id=title]').val();
		      var id_number=$('input[id=id_number]').val();
		    

	      $.ajax({
           type: "POST",
           dataType:'json',
           url: "/api/tags/",
	   headers: {Authorization: "Bearer " + sessionStorage.access_token},
           data: {
               id_str: id_number,
	       user: 'null',
           },
           // Login was successful.
           success: function(data) {
		    $(".modal-animate").hide();
		    $("h6.notification.notification-critical").hide();
		    $("h6.notification.notification-success").show();
		    $("#myform")[0].reset();
		    load();
                   
           },

           // Login request failed.
           error: function(xhr, errmsg, err) {
	    $(".modal-animate").hide();
	    $("h6.notification.notification-success").hide();
               $("h6.notification.notification-critical").show();
           }
           
      });
               
            }
        });
    });
</script>
	    <script>
			//loads info for personal tag
		  function load(){
			 $('#results').empty();
		  //alert(path);
		  //alert(path);
		   $.ajax({
                     url: "/api/tags/",
		     headers: {Authorization: "Bearer " + sessionStorage.access_token},
                    //force to handle it as text
                    dataType: "text",
                    success: function(data) {
                        //alert(data);
                        //data downloaded so we call parseJSON function 
                        //and pass downloaded data
                        
                        var json = $.parseJSON(data);
                       //alert(json[0].id_str)
                       for (var ii=0;json.length;ii++){
						   //alert(ii);
						   name = json[ii].id_str;
						  if (ii==0) {
			    $('#results').append('<tr><td>Tag ID</td></tr>');
			    $('#results').append('<tr class="odd"><td>'+name+'</td></tr>');
			    //alert(name);
			  }
			  else if((ii)%2 ==0) {
			    $('#results').append('<tr class="odd"><td>'+name+'</td></tr>');
			  }
			  else{
			    $('#results').append('<tr><td>'+name+'</td></tr>');
			    //alert(name);
			  }
						   }

			}
			
			
			
                    });
		   
}

//functon to load tags
function loadtags(){
			 $('#results').empty();
		  //alert(path);
		  //alert(path);
		   $.ajax({
                     url: "/api/tags/",
		     headers: {Authorization: "Bearer " + sessionStorage.access_token},
                    //force to handle it as text
                    dataType: "text",
                    success: function(data) {
                        //alert(data);
                        //data downloaded so we call parseJSON function 
                        //and pass downloaded data
                        
                        var json = $.parseJSON(data);
                       //alert(json[0].id_str)
                       for (var ii=0;json.length;ii++){
						   //alert(ii);
						   name = json[ii].username;
						   id_str = json[ii].id_str;
						  if (ii==0) {
			    $('#results').append('<tr><td>Username</td><td>ID Number</td></tr>');
			    $('#results').append('<tr class="odd"><td>'+name+'</td><td>'+id_str+'</td></tr>');
			    //alert(name);
			  }
			  else if((ii)%2 ==0) {
			    $('#results').append('<tr class="odd"><td>'+name+'</td><td>'+id_str+'</td></tr>');
			  }
			  else{
			    $('#results').append('<tr><td>'+name+'</td><td>'+id_str+'</td></tr>');
			    //alert(name);
			  }
						   }

			}
			
			
			
                    });
		   
}

    
	    </script>
	
	


<div class="modal-animate hide">
    <div class="rotate"></div>

</div>

    <div id="create">  
     <h2>Settings</h2>
     
	  <div id="notifications">
        <h6 class="notification notification-critical" role="alert">Some information you entered isn't right.</h6>
	<h6 class="notification notification-success" role="alert">You have successfully registered an ID!</h6>
    </div>
	  
    <div id="contentleft">
					
		<form name="tracform" id="myform" method="POST" data-parsley-validate>

		   <p>
		      <label for="">ID Number:</label> 
		      <input data-progression="" type="text" data-helper="" id="id_number" value="" placeholder="" required data-parsley-group="block1" />
		  </p>
		
		     
		     
		          <div class="button-container">
		    <input type="submit" name="" class="validate" id="submit" value="Save" />
	                         </div>
		</form>
		
		
		
		<form name="tracform" id="coachform" method="POST" data-parsley-validate>

		   <p>
		      <label for="">First Name:</label> 
		      <input data-progression="" type="text" data-helper="" id="first" value="" placeholder="" required data-parsley-group="block1" />
		  </p>
		   <p>
		      <label for="">Last Name:</label> 
		      <input data-progression="" type="text" data-helper="" id="last" value="" placeholder="" required data-parsley-group="block1" />
		  </p>
		   <p>
		      <label for="">ID Number:</label> 
		      <input data-progression="" type="text" data-helper="" id="number" value="" placeholder="" required data-parsley-group="block1" />
		  </p>
		
		     
		     
		          <div class="button-container">
		    <input type="submit" name="" class="validate" id="submit" value="Save" />
	                         </div>
		</form>

			
					
					
				
    </div>
                   <div id="contentright">
			      <div class ="outer">
      <div class="inner">
       <table id="results" style="width:100%"></table>
       </div>
       </div>
              </div>
    
    
     
      </div>
    {% endblock %} 
    
    
    
</html>

