{% extends "base_new.html" %}

{% load static %}

<!-- Head -->
{% block stylesheets %}
	<link href="{% static "css/new/teams.css" %}" rel='stylesheet' type='text/css'>
	<style>
		table.tablesorter thead tr .header {
			background-image: url("{% static "img/tablesorter.bg.gif" %}");
			background-repeat: no-repeat;
			background-position: center right;
			cursor: pointer;
		}
		table.tablesorter thead tr .headerSortUp {
			background-image: url("{% static "img/tablesorter.asc.gif" %}");
		}
		table.tablesorter thead tr .headerSortDown {
			background-image: url("{% static "img/tablesorter.desc.gif" %}");
		}
	</style>
{% endblock %}

{% block js_scripts %}
	<script src="{% static "js/new/teams.js" %}" type="text/javascript"></script>
	<style>
		#menu-btn {
			cursor: pointer;
			background-color:#dcdcdc; 
			border-radius:4px;
			padding:5px;
			border: .5px black;
		}

		#menu-btn:hover {
			cursor: pointer;
			background-color:#aec8dc; 
			border-radius:4px;
			padding:5px
		}
	</style>
{% endblock %}

<!-- Body -->
{% block nav-items %}
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/#bg3">About</a></li>
  <li><a href="/score">Results</a></li>
{% endblock %}

{% block content %}
	<div id="content" class="container-fluid">
		<div class="container">
			<div class="col-md-offset-6 col-sm-offset-6 col-xs-offset-6 col-md-6 col-sm-6 col-xs-6" style="">
	          <div id="menu-btn" class="" data-toggle="modal" style="float:right;" onclick="location.href='/text/'">
	            <span class="glyphicon glyphicon-phone" aria-hidden="true" onclick="amplitude.logEvent('text_link');"></span> Text Updates
	          </div>
	        </div>

			<div class="row">
				<h1 id="results-title">All teams</h1>
				<div id="results" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="input-group" style="margin: 0 auto 20px auto;">
					  <input type="text" class="form-control" id="search" name="search" placeholder="Search teams..." value="">
					</div>
					<table id="results-table" class="table tablesorter table-striped table-hover" style="text-align:center;">
					</table>
				</div>
			</div>

			<div class="spinner-container" style="position:relative; top:50px;">
				<div id="spinner"></div>
			</div>
			
			<div id="notifications" class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
					<p class="notification notification-error notification-default" role="alert">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> No recent events to show.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}