{% extends "base.html" %}

{% block title %}trac - user home{% endblock %}
{% block content %}
        {% csrf_token %}
        {{ user.username }}'s {{ user_type }} page<br /><br />

        <a href="{% url 'results_home' %}">my workout results</a><br />
        <a href="{% url 'userhome' %}">edit my profile</a><br />


        {% if user_type == "athlete" %}
            <a href="{% url 'tag_manager' %}">manage my RFID tags</a><br />
        {% endif %}
        
        {% if user_type == "coach" %}
            <a href="{% url 'create_workout' %}">create a new workout</a><br />
            <a href="{% url 'reader_manager' %}">manage my readers</a><br />
        {% endif %}

        {% comment %}
        {% if perms.auth.can_create_workout %}
        #<a href="{% url 'create_workout' %}">Create new workout</a><br />
        {% endif %}
        {% endcomment %}

{% endblock %}

