{% extends "base.html" %}

{% block title %}trac - login{% endblock %}
{% block content %}
    <hl>Login to trac</hl>

    <form id="login_form" method="post" action="">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />
        <input type="submit" value="submit" />
    </form>
{% endblock %}




<!--<!DOCTYPE html>
<html>

    <head>
        <title>trac - login</title>
    </head>

    <body>
        <hl>Login to trac</hl>

        <form id="login_form" method="post" action="">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50"
            />
            <br />
            <input type="submit" value="submit" />
        </form>

    </body>
</html>-->
